<% @permisos_v = current_user.profile.permissions.order(:view_id) %>
<% arreglo = Array.new %>
<% @permisos_v.each do |per| %>
  <% id = per.id %>
  <% valor = {name: '', crear: 0, editar: 0, leer: 0, eliminar: 0} %>
  <% valor[:name] = per.view_name %>
  <% valor[:crear] = per.crear %>
  <% valor[:editar] = per.editar %>
  <% valor[:leer] = per.leer %>
  <% valor[:eliminar] = per.eliminar %>

  <% arreglo.push(valor) %>
<% end %>
<!--BANDERA CURRENT USER: <strong><%#= current_user.profile.flag %></strong><br>-->
<!--CURRENT USER: <strong><%#= current_user.profile.view_name %></strong><br>-->
<%= form_for(@profile, id: 'form1') do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this Profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <script>
      <% if @profile.present? %>
      var perf_id = "<%= @profile.id%>"
      <% else %>
      var perf_id = 0
      <% end %>
  </script>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <div class="field">
        <p class="text-center">
          <label><%= t('activerecord.atributes.name') %></label>
          <%= f.text_field :name, :class => 'form-control', :required => true, autocomplete: "off", maxlength: '255' %>
        </p>
      </div>
      <% if @profile.flag != 0 && @profile.flag != 1 && @profile.flag != 2 %>

        <div>
          <p class="text-center">
            <label id="labelArea"><%= t('activerecord.atributes.area') %></label>
            <%#= f.collection_select :area_id, Area.order(:id), :id, :name, {:include_blank => t('views.profiles_new.placeh_area')}, {:required => true, :class => 'form-control', :id => 'areaSel'} %>
            <select class="form-control" id="areaSel" name="profile[area_id]">
              <option value=""> <%= t('views.profiles_new.placeh_area') %> </option>
              <% @areas.each do |ar| %>
                <option value="<%= ar[:id] %>"><%= ar[:name] %></option>
              <% end %>
            </select>
          </p>
          <%#= current_user.id %>
        </div>
        <!-- EMPIEZA SELECT DE PRUEBA  -->
        <div>

          <p class="text-center">


            <label id="labelBand" style="display:none;"><%= t('views.permisos_edit.below') %></label>
            <!--<select id="bandSel" name="name_profile[flag]" class="form-control" style="width: 250px; display: none;">
              <option value="">Prueba</option>
            </select>-->
            <% if action_name == "edit" %>
              <select id="bandSel" name="profile[flag]" class="form-control" style="display: none;">
                <option value=""><%= t('views.permisos_edit.placeh_f') %></option>
              </select>

              <script>
                  $(function () {
                      $("#bandSel").val("<%= @profile.flag.to_i - 1 %>")
                  })
              </script>
            <% else %>
              <select id="bandSel" name="profile[flag]" class="form-control" style="display: none;" required="true">
                <option value=""><%= t('views.permisos_edit.placeh_f') %></option>
              </select>
            <% end %>


          </p>

        </div>
      <% end %>
      <!-- EMPIEZA SELECT DE PRUEBA  -->


    </div>
    <div class="col-md-5"></div>
  </div>

  <input type="hidden" class="form-control" id="campoday" name="campoday">
  <input type="hidden" class="form-control" id="campomonth" name="campomonth">


  <div class="row">
    <div class="col-xs-2 text-center">
      <button type="button" class="btn btn-xs btn-primary unsel" id="btn_Per">
        <i class="fa fa-calendar" aria-hidden="true"></i> <label><%= t('views.permisos_edit.periodo') %></label>
      </button>
    </div>
    <div class="col-xs-8 text-right">
    </div>
    <div class="col-xs-2">
      <button type="button" class="btn btn-xs btn-primary unsel" id="check_all">
        <i class="fa fa-plus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="inner-body" align="center">

      <% if action_name == "edit" %>

        <div class="modal inmodal" id="dialog" tabindex="-1" role="dialog" aria-hidden="true" style="top: 22%">
          <div class="modal-dialog">
            <div class="modal-content animated flipInY">
              <div class="modal-header" style="background-color: rgb(60, 135, 196);">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="color: white">&times;</span></button>
                <i class="fa fa-calendar modal-icon" style="color: white"></i>
                <h4 class="modal-title" style="color: white;"><%= t('views.permisos_edit.periodo') %></h4>
              </div>
              <div class="modal-body">

                <br>

                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <label class="control-label"><%= t('views.permisos_edit.time') %></label>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <select name="select_tiempo" id="salect_tiempo" class="form-control">
                      <option value=""><%= t('views.permisos_edit.mensaje') %></option>
                      <option value="1"><%= t('views.permisos_edit.day') %></option>
                      <option value="2"><%= t('views.permisos_edit.month') %></option>
                    </select>
                  </div>
                  <div class="col-md-3"></div>
                </div>

                <br>
                <br>

                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">

                    <% if @btn == true && @profile.day.present? %>
                      <label class="control-label" id="lday"><%= t('views.permisos_edit.day') %></label>
                    <% else %>
                      <label class="control-label" id="lday" style="display: none"><%= t('views.permisos_edit.day') %></label>
                    <% end %>

                    <% if @btn == true && @profile.month.present? %>
                      <label class="control-label" id="lmonth"><%= t('views.permisos_edit.month') %></label>
                    <% else %>
                      <label class="control-label" id="lmonth" style="display: none"><%= t('views.permisos_edit.month') %></label>
                    <% end %>

                  </div>
                  <div class="col-md-3"></div>
                </div>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">

                    <% if @btn == true && @profile.day.present? %>
                      <input type="text" class="form-control" id="day" name="day" required value="<%= @profile.day %>">
                    <% else %>
                      <input type="text" class="form-control" id="day" name="day" style="display: none" required>
                    <% end %>

                    <% if @btn == true && @profile.month.present? %>
                      <input type="text" class="form-control" id="month" name="month" required value="<%= @profile.month %>">
                    <% else %>
                      <input type="text" class="form-control" id="month" name="month" style="display: none" required>
                    <% end %>

                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>

              <div class="modal-footer">

                <div class="row">
                  <div class="col-md-7 text-left">
                    <p>
                      <strong><%= t('views.permisos_edit.historial') %>: </strong>
                      <%= @days_Trans %> <%= t('views.permisos_edit.day') %>
                    </p>
                  </div>
                  <div class="col-md-5">
                    <%= button_tag(type: 'button', name: 'btn_modal', class: 'btn btn-primary btn-xs', id: 'btn_modal', :disabled => true, data: {:no_turbolink => true}) do %>
                      <i class="fa fa-upload"></i> <%= t('all.save') %>
                    <% end %>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <table class="table table-striped table-hover  table-responsive" style="margin: 0 auto; text-align: center">
          <thead>
          <tr>
            <th><label><%= t('views.permisos_edit.attribute') %></label></th>
            <th class="text-center"><label><%= t('activerecord.atributes.crear') %></label></th>
            <th class="text-center"><label><%= t('activerecord.atributes.editar') %></label></th>
            <th class="text-center"><label><%= t('activerecord.atributes.leer') %></label></th>
            <th class="text-center"><label><%= t('activerecord.atributes.eliminar') %></label></th>
          </tr>
          </thead>
          <tbody>
          <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 %>
            <tr bgcolor="#003057">
              <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">
                <b><h4>Dashboard</h4></b></td>
            </tr>
            <% @views.each do |v| %>
              <% if v.name == "Home" || v.name == "AlertingAndProductivityLevels" || v.name == "FilterCategorizationGraph"  %>
                <% @permiso_vista = Permission.find_by(view_id: v.id, profile_id: @profile.id) %>
                <tr>
                  <td>
                    <% if v.name == "Home" %>
                      <label><%= t('all.home') %></label>
                      <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                    <% elsif v.name == "AlertingAndProductivityLevels" %>
                      <label><%= t('all.level') %></label>
                      <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                    <% elsif v.name == "FilterCategorizationGraph" %>
                      <label><%= t('all.graphs') %></label>
                      <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                      <% if @permiso_vista.crear == 8 %>
                        <input type="checkbox" class="i-checks" value="8" checked name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                      <% if @permiso_vista.editar == 4 %>
                        <input type="checkbox" class="i-checks" value="4" checked name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                      <% if @permiso_vista.leer == 2 %>
                        <input type="checkbox" class="i-checks" value="2" checked name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                      <% if @permiso_vista.eliminar == 1 %>
                        <input type="checkbox" class="i-checks" value="1" checked name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                </tr>
                <% arreglo.delete_at(0) %>
              <% end %>
            <% end %>
          <% end %>

          <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 || arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[2][:eliminar] == 1 || arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2 || arreglo[3][:eliminar] == 1 %>
            <tr bgcolor="#003057">
              <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">
                <b><h4><%= t('all.alerts') %></h4></b></td>
            </tr>
            <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 %>
              <tr bgcolor="#003057">
                <td colspan="5" bgcolor="#3C87C4" style="color:white; text-align: left;">
                  <b><h4><%= t('all.new_a') %></h4></b></td>
              </tr>
              <% @views.each do |v| %>
                <% if v.name == "NewAlertTransaccional" || v.name == "NewAlertPerfiles" %>
                  <% @permiso_vista = Permission.find_by(view_id: v.id, profile_id: @profile.id) %>
                  <tr>
                    <td>
                      <% if v.name == "NewAlertTransaccional" %>
                        <label><%= t('views.alert_new_index.new_tran') %></label>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      <% elsif v.name == "NewAlertPerfiles" %>
                        <label><%= t('views.alert_new_index.new_per') %></label>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                        <% if @permiso_vista.crear == 8 %>
                          <input type="checkbox" class="i-checks" value="8" checked name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                        <% else %>
                          <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                        <% if @permiso_vista.editar == 4 %>
                          <input type="checkbox" class="i-checks" value="4" checked name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                        <% else %>
                          <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                        <% if @permiso_vista.leer == 2 %>
                          <input type="checkbox" class="i-checks" value="2" checked name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                        <% else %>
                          <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                        <% if @permiso_vista.eliminar == 1 %>
                          <input type="checkbox" class="i-checks" value="1" checked name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                        <% else %>
                          <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                  </tr>
                  <% arreglo.delete_at(0) %>
                <% end %>
              <% end %>
            <% end %>
            <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 %>
              <tr bgcolor="#003057">
                <td colspan="5" bgcolor="#3C87C4" style="color:white; text-align: left;">
                  <b><h4><%= t('all.consul_a') %></h4></b></td>
              </tr>
              <% @views.each do |v| %>
                <% if v.name == "ConsultAlertTransaccional" || v.name == "ConsultAlertPerfiles" %>
                  <% @permiso_vista = Permission.find_by(view_id: v.id, profile_id: @profile.id) %>
                  <tr>
                    <td>
                      <% if v.name == "ConsultAlertTransaccional" %>
                        <label><%= t('views.alert_new_index.consul_tran') %></label>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      <% elsif v.name == "ConsultAlertPerfiles" %>
                        <label><%= t('views.alert_new_index.consul_per') %></label>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                        <% if @permiso_vista.crear == 8 %>
                          <input type="checkbox" class="i-checks" value="8" checked name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                        <% else %>
                          <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                        <% if @permiso_vista.editar == 4 %>
                          <input type="checkbox" class="i-checks" value="4" checked name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                        <% else %>
                          <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                        <% if @permiso_vista.leer == 2 %>
                          <input type="checkbox" class="i-checks" value="2" checked name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                        <% else %>
                          <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                        <% if @permiso_vista.eliminar == 1 %>
                          <input type="checkbox" class="i-checks" value="1" checked name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                        <% else %>
                          <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                  </tr>
                  <% arreglo.delete_at(0) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 %>
            <tr bgcolor="#003057">
              <td colspan="5" bgcolor="#3C87C4" style="color:white; text-align: left;">
                <b><h4><%= t('all.release_a') %></h4></b></td>
            </tr>
            <% @views.each do |v| %>
              <% if v.name == "AlertRelease" %>
                <% @permiso_vista = Permission.find_by(view_id: v.id, profile_id: @profile.id) %>
                <tr>
                  <td>
                    <% if v.name == "AlertRelease" %>
                      <label><%= t('all.release_a') %></label>
                      <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                      <% if @permiso_vista.crear == 8 %>
                        <input type="checkbox" class="i-checks" value="8" checked name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                      <% if @permiso_vista.editar == 4 %>
                        <input type="checkbox" class="i-checks" value="4" checked name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                      <% if @permiso_vista.leer == 2 %>
                        <input type="checkbox" class="i-checks" value="2" checked name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                      <% if @permiso_vista.eliminar == 1 %>
                        <input type="checkbox" class="i-checks" value="1" checked name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                </tr>
                <% arreglo.delete_at(0) %>
              <% end %>
            <% end %>
          <% end %>
          <% if arreglo[0][:crear] == 8 || arreglo[0][:leer] == 2 %>
            <tr bgcolor="#003057">
              <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">
                <b><h4><%= t('all.consul_g') %></h4></b></td>
            </tr>

            <% @views.each do |v| %>
              <% if v.name == "GeneralSearch" %>
                <% @permiso_vista = Permission.find_by(view_id: v.id, profile_id: @profile.id) %>
                <tr>
                  <% if v.name == "GeneralSearch" %>
                  <td>
                      <label><%= t('all.consul_g') %></label>
                    <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                  </td>
                  <% end %>
                  <td>
                    <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                      <% if @permiso_vista.crear == 8 %>
                        <input type="checkbox" class="i-checks" value="8" checked name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                      <% if @permiso_vista.editar == 4 %>
                        <input type="checkbox" class="i-checks" value="4" checked name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                      <% if @permiso_vista.leer == 2 %>
                        <input type="checkbox" class="i-checks" value="2" checked name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                      <% if @permiso_vista.eliminar == 1 %>
                        <input type="checkbox" class="i-checks" value="1" checked name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                </tr>
                <% arreglo.delete_at(0) %>
              <% end %>
            <% end %>
          <% end %>
          <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 || arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[2][:eliminar] == 1 || arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2 || arreglo[3][:eliminar] == 1 %>
            <tr bgcolor="#003057">
              <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">
                <b><h4><%= t('views.profiles_edit.settings') %></h4></b></td>
            </tr>

            <% @views.each do |v| %>
              <% if v.name == "Users" || v.name == "UserAttentionPriorityTransaccional" || v.name == "Profiles" || v.name == "Areas" || v.name == "Sessions" || v.name == "FilterCategorization" || v.name == "States" || v.name == "EmailGroups" || v.name == "ScheduleConfiguration" %>
                <% @permiso_vista = Permission.find_by(view_id: v.id, profile_id: @profile.id) %>
                <tr>
                  <td>
                    <% if v.name == "Users" %>
                      <label><%= t('all.user') %></label>
                    <% elsif v.name == "UserAttentionPriorityTransaccional" %>
                      <label><%= t('all.user_p') %></label>
                    <% elsif v.name == "Profiles" %>
                      <label><%= t('all.profiles') %></label>
                    <% elsif v.name == "Areas" %>
                      <label><%= t('all.areas') %></label>
                    <% elsif v.name == "Sessions" %>
                      <label><%= t('all.filters') %></label>
                    <% elsif v.name == "FilterCategorization" %>
                      <label><%= t('all.filter_category') %></label>
                    <% elsif v.name == "States" %>
                      <label><%= t('all.states_alert') %></label>
                    <% elsif v.name == "EmailGroups" %>
                      <label><%= t('all.mail_Groups') %></label>
                    <% elsif v.name == "ScheduleConfiguration" %>
                      <label><%= t('all.gestor_set') %></label>
                    <% end %>
                    <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                  </td>
                  <td>
                    <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                      <% if @permiso_vista.crear == 8 %>
                        <input type="checkbox" class="i-checks" value="8" checked name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                      <% if @permiso_vista.editar == 4 %>
                        <input type="checkbox" class="i-checks" value="4" checked name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                      <% if @permiso_vista.leer == 2 %>
                        <input type="checkbox" class="i-checks" value="2" checked name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                      <% if @permiso_vista.eliminar == 1 %>
                        <input type="checkbox" class="i-checks" value="1" checked name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                </tr>
                <% arreglo.delete_at(0) %>
              <% elsif arreglo[0][:name] == "UserAttentionPriorityPerfiles" %>
                <% arreglo.delete_at(0) %>
              <% end %>
            <% end %>
          <% end %>
          <% if @views.count > 20 %>
            <tr bgcolor="#003057">
              <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">
                <b><h4><%= t('views.profiles_edit.new_views') %></h4></b>
              </td>
            </tr>

            <% @views.each do |v| %>
              <% if v.id > 20 %>
                <% @permiso_vista = Permission.find_by(view_id: v.id, profile_id: @profile.id) %>
                <tr>
                  <td>
                    <label><%= v.name %></label>
                    <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                  </td>
                  <td>
                    <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                      <% if @permiso_vista.crear == 8 %>
                        <input type="checkbox" class="i-checks" value="8" checked name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                      <% if @permiso_vista.editar == 4 %>
                        <input type="checkbox" class="i-checks" value="4" checked name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                      <% if @permiso_vista.leer == 2 %>
                        <input type="checkbox" class="i-checks" value="2" checked name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                      <% if @permiso_vista.eliminar == 1 %>
                        <input type="checkbox" class="i-checks" value="1" checked name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                      <% else %>
                        <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                      <% end %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                </tr>
                <% arreglo.delete_at(0) %>
              <% end %>
            <% end %>
          <% end %>
          </tbody>
        </table>

      <% else %>

        <div class="modal inmodal" id="dialog" tabindex="-1" role="dialog" aria-hidden="true" style="top: 22%">
          <div class="modal-dialog">
            <div class="modal-content animated flipInY">
              <div class="modal-header" style="background-color: rgb(60, 135, 196);">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="color: white">&times;</span></button>
                <i class="fa fa-calendar modal-icon" style="color: white"></i>
                <h4 class="modal-title" style="color: white;"><%= t('views.permisos_edit.periodo') %></h4>
              </div>
              <div class="modal-body">

                <br>

                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <label class="control-label"><%= t('views.permisos_edit.time') %></label>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <select name="select_tiempo" id="salect_tiempo" class="form-control">
                      <option value=""><%= t('views.permisos_edit.mensaje') %></option>
                      <option value="1"><%= t('views.permisos_edit.day') %></option>
                      <option value="2"><%= t('views.permisos_edit.month') %></option>
                    </select>
                  </div>
                  <div class="col-md-3"></div>
                </div>

                <br>
                <br>

                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <label class="control-label" id="lday" style="display: none"><%= t('views.permisos_edit.day') %></label>
                    <label class="control-label" id="lmonth" style="display: none"><%= t('views.permisos_edit.month') %></label>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="day" name="day" style="display: none" required>
                    <input type="text" class="form-control" id="month" name="month" style="display: none" required>
                  </div>
                  <div class="col-md-3"></div>
                </div>

              </div>
              <div class="modal-footer">

                <div class="row">
                  <div class="col-md-7 text-left">
                    <p>
                      <strong><%= t('views.permisos_edit.historial') %>: </strong>
                      <%= @days_Trans %> <%= t('views.permisos_edit.day') %>
                    </p>
                  </div>
                  <div class="col-md-5">
                    <%= button_tag(type: 'button', name: 'btn_modal', class: 'btn btn-primary btn-xs', id: 'btn_modal', :disabled => true, data: {:no_turbolink => true}) do %>
                      <i class="fa fa-upload"></i> <%= t('all.save') %>
                    <% end %>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <table class="table table-striped table-hover  table-responsive" style="margin: 0 auto; text-align: center">
          <thead>
          <tr>
            <th><label><%= t('views.permisos_edit.attribute') %></label></th>
            <th class="text-center"><label><%= t('activerecord.atributes.crear') %></label></th>
            <th class="text-center"><label><%= t('activerecord.atributes.editar') %></label></th>
            <th class="text-center"><label><%= t('activerecord.atributes.leer') %></label></th>
            <th class="text-center"><label><%= t('activerecord.atributes.eliminar') %></label></th>
          </tr>
          </thead>
          <tbody>
          <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 %>
            <tr bgcolor="#003057">
              <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">
                <b><h4>Dashboard</h4></b></td>
            </tr>
            <% @views.each do |v| %>
              <% if v.name == "Home" || v.name == "AlertingAndProductivityLevels" || v.name == "FilterCategorizationGraph"  %>
                <tr>
                  <td>
                    <% if v.name == "Home" %>
                      <label><%= t('all.home') %></label>
                      <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                    <% elsif v.name == "AlertingAndProductivityLevels" %>
                      <label><%= t('all.level') %></label>
                      <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                    <% elsif v.name == "FilterCategorizationGraph" %>
                      <label><%= t('all.graphs') %></label>
                      <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                      <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                      <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% @arreglo = arreglo[0][:leer] %>
                    <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                      <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                      <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                </tr>
                <% arreglo.delete_at(0) %>
              <% end %>
            <% end %>
          <% end %>

          <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 || arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[2][:eliminar] == 1 || arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2 || arreglo[3][:eliminar] == 1 %>
            <tr bgcolor="#003057">
              <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">
                <b><h4><%= t('all.alerts') %></h4></b></td>
            </tr>
            <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 %>
              <tr bgcolor="#003057">
                <td colspan="5" bgcolor="#3C87C4" style="color:white; text-align: left;">
                  <b><h4><%= t('all.new_a') %></h4></b></td>
              </tr>
              <% @views.each do |v| %>
                <% if v.name == "NewAlertTransaccional" || v.name == "NewAlertPerfiles" %>
                  <tr>
                    <td>
                      <% if v.name == "NewAlertTransaccional" %>
                        <label><%= t('views.alert_new_index.new_tran') %></label>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      <% elsif v.name == "NewAlertPerfiles" %>
                        <label><%= t('views.alert_new_index.new_per') %></label>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                        <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                        <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% @arreglo = arreglo[0][:leer] %>
                      <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                        <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                        <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                      <% else %>
                        --
                      <% end %>
                    </td>
                  </tr>
                  <% arreglo.delete_at(0) %>
                <% end %>
              <% end %>
            <% end %>
            <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 %>
              <tr bgcolor="#003057">
                <td colspan="5" bgcolor="#3C87C4" style="color:white; text-align: left;">
                  <b><h4><%= t('all.consul_a') %></h4></b></td>
              </tr>
              <% @views.each do |v| %>
                <% if v.name == "ConsultAlertTransaccional" || v.name == "ConsultAlertPerfiles" %>
                  <tr>
                    <td>
                      <% if v.name == "ConsultAlertTransaccional" %>
                        <label><%= t('views.alert_new_index.consul_tran') %></label>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      <% elsif v.name == "ConsultAlertPerfiles" %>
                        <label><%= t('views.alert_new_index.consul_per') %></label>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                        <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                        <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% @arreglo = arreglo[0][:leer] %>
                      <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                        <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                        <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                      <% else %>
                        --
                      <% end %>
                    </td>
                  </tr>
                  <% arreglo.delete_at(0) %>
                <% end %>
              <% end %>
            <% end %>
            <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 %>
              <tr bgcolor="#003057">
                <td colspan="5" bgcolor="#3C87C4" style="color:white; text-align: left;">
                  <b><h4><%= t('all.release_a') %></h4></b></td>
              </tr>
              <% @views.each do |v| %>
                <% if v.name == "AlertRelease" %>
                  <tr>
                    <td>
                      <% if v.name == "AlertRelease" %>
                        <label><%= t('all.release_a') %></label>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                        <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                        <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% @arreglo = arreglo[0][:leer] %>
                      <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                        <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                        <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                      <% else %>
                        --
                      <% end %>
                    </td>
                  </tr>
                  <% arreglo.delete_at(0) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% if arreglo[0][:crear] == 8 || arreglo[0][:leer] == 2 %>
            <tr bgcolor="#003057">
              <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">
                <b><h4><%= t('all.consul_g') %></h4></b></td>
            </tr>

            <% @views.each do |v| %>
              <% if v.name == "GeneralSearch" %>
                <tr>
                  <td>
                    <% if v.name == "GeneralSearch" %>
                      <label><%= t('all.consul_g') %></label>
                    <% end %>
                    <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                  </td>
                  <td>
                    <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                      <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                      <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                      <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                      <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                </tr>
                <% arreglo.delete_at(0) %>
              <% end %>
            <% end %>
          <% end %>
          <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 || arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[2][:eliminar] == 1 || arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2 || arreglo[3][:eliminar] == 1 %>
            <tr bgcolor="#003057">
              <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">
                <b><h4><%= t('views.profiles_edit.settings') %></h4></b></td>
            </tr>

            <% @views.each do |v| %>
              <% if v.name == "Users" || v.name == "UserAttentionPriorityTransaccional" || v.name == "Profiles" || v.name == "Areas" || v.name == "Sessions" || v.name == "FilterCategorization" || v.name == "States" || v.name == "EmailGroups" || v.name == "ScheduleConfiguration" %>
                <tr>
                  <td>
                    <% if v.name == "Users" %>
                      <label><%= t('all.user') %></label>
                    <% elsif v.name == "UserAttentionPriorityTransaccional" %>
                      <label><%= t('all.user_p') %></label>
                    <% elsif v.name == "Profiles" %>
                      <label><%= t('all.profiles') %></label>
                    <% elsif v.name == "Areas" %>
                      <label><%= t('all.areas') %></label>
                    <% elsif v.name == "Sessions" %>
                      <label><%= t('all.filters') %></label>
                    <% elsif v.name == "FilterCategorization" %>
                      <label><%= t('all.filter_category') %></label>
                    <% elsif v.name == "States" %>
                      <label><%= t('all.states_alert') %></label>
                    <% elsif v.name == "EmailGroups" %>
                      <label><%= t('all.mail_Groups') %></label>
                    <% elsif v.name == "ScheduleConfiguration" %>
                      <label><%= t('all.gestor_set') %></label>
                    <% end %>
                    <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                  </td>
                  <td>
                    <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                      <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                      <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                      <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                      <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                </tr>
                <% arreglo.delete_at(0) %>
              <% elsif arreglo[0][:name] == "UserAttentionPriorityPerfiles" %>
                <% arreglo.delete_at(0) %>
              <% end %>
            <% end %>
          <% end %>
          <% if @views.count > 20 %>
            <tr bgcolor="#003057">
              <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">
                <b><h4><%= t('views.profiles_edit.new_views') %></h4></b>
              </td>
            </tr>

            <% @views.each do |v| %>
              <% if v.id > 20%>
                <tr>
                  <td>
                    <label><%= v.name %></label>
                    <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                  </td>
                  <td>
                    <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                      <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.parameterize.underscore %>_crear"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                      <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_editar"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                      <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.parameterize.underscore %>_leer"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                  <td>
                    <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                      <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.parameterize.underscore %>_eliminar"><br>
                    <% else %>
                      --
                    <% end %>
                  </td>
                </tr>
                <% arreglo.delete_at(0) %>
              <% end %>
            <% end %>
          <% end %>
          </tbody>
        </table>

      <% end %>

    </div>
    <div class="col-md-2"></div>
  </div>
  <br>
  <div class="col-md-12 hr-line-dashed"></div>
  <button type="submit" , class="btn btn-xs btn-primary " , value="<%= t('all.save') %>" , name="btnSave">
    <i class="fa fa-user"></i>  <%= t('all.save') %>
  </button>
  <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('all.back'), profiles_path, :class => 'btn btn-xs btn-primary dim' %>

<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
      var elem = document.querySelector('.js-switch');
      var switchery = new Switchery(elem, {color: '#1AB394'});
      $('.i-checks').iCheck({
          checkboxClass: 'icheckbox_square-green',
          radioClass: 'iradio_square-green',
      });
  </script>

  <script>

      $('#new_name_profile').validate({
          messages: {
              "name_profile[name]": {
                  required: "<%= t('all.requi')%>"
              },
              "belongs": {
                  required: "<%= t('all.requi')%>"
              },
              "name_profile[area_id]": {
                  required: "<%= t('all.requi')%>"
              },
              "name_profile[flag]": {
                  required: "<%= t('all.requi')%>"
              }
          }
      });
  </script>

  <script>
      $("#areaSel").change(function () {
          var valor = $(this).val()
          console.log(valor)
          $('option:contains("Default")').hide();

          if (valor == "") {
              $("#bandSel").hide();
              $("#labelBand").hide();
          } else {
              if (valor == 1) {
                  $("#bandSel option").remove();
                  $("#bandSel optgroup").remove();
                  $("#bandSel").show();
                  $("#labelBand").show();
                  $("#labelProfile").show();

                  $("#bandSel").append($("<option value></option>").text("<%= t('views.permisos_edit.placeh_f') %>"));

                  var nivel = 0

                  for (i = 0; i < gon.pflag.length; i++) {
                      if ((gon.pflag[i].area_id == valor) && (gon.pflag[i].flag != 1) && (gon.pflag[i].id != perf_id)) {
                          var id = gon.pflag[i].id
                          var name = gon.pflag[i].name
                          if (i == 0) {
                              nivel = nivel + 1
                              $("#bandSel").append(
                                  $("<optgroup></optgroup>")
                                      .attr("label", "<%= t('views.permisos_edit.level')%> " + nivel));

                              $("#bandSel").append(
                                  $("<option></option>")
                                      .attr("value", id)
                                      .text(name)
                              );
                          } else {
                              var niv_flag = gon.pflag[i].flag - 1

                              if (niv_flag != nivel) {
                                  nivel = nivel + 1
                                  $("#bandSel").append(
                                      $("<optgroup></optgroup>")
                                          .attr("label", "<%= t('views.permisos_edit.level')%> " + nivel));

                                  $("#bandSel").append(
                                      $("<option></option>")
                                          .attr("value", id)
                                          .text(name)
                                  );
                              } else {
                                  if (gon.pflag[i].flag != 1 && gon.pflag[i].flag != 0) {
                                      $("#bandSel").append(
                                          $("<option></option>")
                                              .attr("value", id)
                                              .text(name)
                                      );
                                  }
                              }
                          }
                      }
                  }
              }
              else {
                  $("#bandSel option").remove();
                  $("#bandSel optgroup").remove();
                  $("#bandSel").show();
                  $("#labelBand").show();
                  $("#labelProfile").show();

                  $("#bandSel").append($("<option value></option>").text("<%= t('views.permisos_edit.placeh_f') %>"));

                  var nivel = 0

                  for (i = 0; i < gon.pflag.length; i++) {
                      if ((gon.pflag[i].area_id == valor) && (gon.pflag[i].flag != 2) && (gon.pflag[i].id != perf_id)) {
                          var id = gon.pflag[i].id
                          var name = gon.pflag[i].name
                          var flag = gon.pflag[i].flag

                          if (flag == 1) {
                              nivel = nivel + 1
                              $("#bandSel").append(
                                  $("<optgroup></optgroup>")
                                      .attr("label", "<%= t('views.permisos_edit.level')%> " + nivel));

                              $("#bandSel").append(
                                  $("<option></option>")
                                      .attr("value", id)
                                      .text(name)
                              );
                          } else {
                              var niv_flag = gon.pflag[i].flag - 1

                              if (niv_flag != nivel) {
                                  nivel = nivel + 1
                                  $("#bandSel").append(
                                      $("<optgroup></optgroup>")
                                          .attr("label", "<%= t('views.permisos_edit.level')%> " + nivel));

                                  $("#bandSel").append(
                                      $("<option></option>")
                                          .attr("value", id)
                                          .text(name)
                                  );
                              } else {
                                  if (gon.pflag[i].flag != 1 && gon.pflag[i].flag != 0) {
                                      $("#bandSel").append(
                                          $("<option></option>")
                                              .attr("value", id)
                                              .text(name)
                                      );
                                  }
                              }
                          }
                      }
                  }
              }
          }

      })


      $(function () {
          <% @permisos = Permission.where("profile_id = ?", @profile.id) %>
          <% if @permisos.present? %>
          <% @permisos.each do |p|%>
          <% if p.view_name == "Home"%>
          var per_home = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

          if (per_home[0] == 8 || per_home[2] == 2) {
              if (per_home[0] == 8) {
                  $("#home_crear").attr("checked", true)
                  $("#home_crear").parent().addClass("checked")
              }
              if (per_home[2] == 2) {
                  $("#home_leer").attr("checked", true)
                  $("#home_leer").parent().addClass("checked")
              }
          }
          <% end %>
          <% if p.view_name == "AlertingAndProductivityLevels"%>
          var per_levels = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

          if (per_levels[0] == 8 || per_levels[2] == 2) {
              if (per_levels[0] == 8) {
                  $("#alerting_and_productivity_levels_crear").attr("checked", true)
                  $("#alerting_and_productivity_levels_crear").parent().addClass("checked")
              }
              if (per_levels[2] == 2) {
                  $("#alerting_and_productivity_levels_leer").attr("checked", true)
                  $("#alerting_and_productivity_levels_leer").parent().addClass("checked")
              }
          }
          <% end %>
          <% if p.view_name == "NewAlertTransaccional"%>
          var per_n_tran = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

          if (per_n_tran[0] == 8 || per_n_tran[1] == 4 || per_n_tran[2] == 2) {
              if (per_n_tran[0] == 8) {
                  $("#new_alert_transaccional_crear").attr("checked", true)
                  $("#new_alert_transaccional_crear").parent().addClass("checked")
              }
              if (per_n_tran[1] == 4) {
                  $("#new_alert_transaccional_editar").attr("checked", true)
                  $("#new_alert_transaccional_editar").parent().addClass("checked")
              }
              if (per_n_tran[2] == 2) {
                  $("#new_alert_transaccional_leer").attr("checked", true)
                  $("#new_alert_transaccional_leer").parent().addClass("checked")
              }
          }
          <% end %>
          <% if p.view_name == "NewAlertPerfiles"%>
          var per_n_per = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

          if (per_n_per[0] == 8 || per_n_per[1] == 4 || per_n_per[2] == 2) {
              if (per_n_per[0] == 8) {
                  $("#new_alert_perfiles_crear").attr("checked", true)
                  $("#new_alert_perfiles_crear").parent().addClass("checked")
              }
              if (per_n_per[1] == 4) {
                  $("#new_alert_perfiles_editar").attr("checked", true)
                  $("#new_alert_perfiles_editar").parent().addClass("checked")
              }
              if (per_n_per[2] == 2) {
                  $("#NewAlertPerfiles_leer").attr("checked", true)
                  $("#NewAlertPerfiles_leer").parent().addClass("checked")
              }
          }
          <% end %>
          <% if p.view_name == "ConsultAlertTransaccional"%>
          var per_c_tran = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

          if (per_c_tran[0] == 8 || per_c_tran[2] == 2) {
              if (per_c_tran[0] == 8) {
                  $("#consult_alert_transaccional_crear").attr("checked", true)
                  $("#consult_alert_transaccional_crear").parent().addClass("checked")
              }
              if (per_c_tran[2] == 2) {
                  $("#consult_alert_transaccional_leer").attr("checked", true)
                  $("#consult_alert_transaccional_leer").parent().addClass("checked")
              }
          }
          <% end %>
          <% if p.view_name == "ConsultAlertPerfiles"%>
          var per_c_per = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

          if (per_c_per[0] == 8 || per_c_per[2] == 2) {
              if (per_c_per[0] == 8) {
                  $("#consult_alert_perfiles_crear").attr("checked", true)
                  $("#consult_alert_perfiles_crear").parent().addClass("checked")
              }
              if (per_c_per[2] == 2) {
                  $("#consult_alert_perfiles_leer").attr("checked", true)
                  $("#consult_alert_perfiles_leer").parent().addClass("checked")
              }
          }
          <% end %>
          <% if p.view_name == "Users"%>
          var per_users = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

          if (per_users[1] == 4 || per_users[2] == 2 || per_users[3] == 1) {
              if (per_users[1] == 4) {
                  $("#users_editar").attr("checked", true)
                  $("#users_editar").parent().addClass("checked")
              }
              if (per_users[2] == 2) {
                  $("#users_leer").attr("checked", true)
                  $("#users_leer").parent().addClass("checked")
              }

              if (per_users[3] == 1) {
                  $("#users_eliminar").attr("checked", true)
                  $("#users_eliminar").parent().addClass("checked")
              }
          }
          <% end %>
          <% if p.view_name == "Profiles"%>
          var per_profiles = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

          if (per_profiles[0] == 8 || per_profiles[1] == 4 || per_profiles[2] == 2 || per_profiles[3] == 1) {
              if (per_profiles[0] == 8) {
                  $("#profiles_crear").attr("checked", true)
                  $("#profiles_crear").parent().addClass("checked")
              }
              if (per_profiles[1] == 4) {
                  $("#profiles_editar").attr("checked", true)
                  $("#profiles_editar").parent().addClass("checked")
              }
              if (per_profiles[2] == 2) {
                  $("#profiles_leer").attr("checked", true)
                  $("#profiles_leer").parent().addClass("checked")
              }

              if (per_profiles[3] == 1) {
                  $("#profiles_eliminar").attr("checked", true)
                  $("#profiles_eliminar").parent().addClass("checked")
              }
          }
          <% end %>
          <% if p.view_name == "Areas"%>
          var per_areas = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

          if (per_areas[0] == 8 || per_areas[1] == 4 || per_areas[2] == 2 || per_areas[3] == 1) {
              if (per_areas[0] == 8) {
                  $("#areas_crear").attr("checked", true)
                  $("#areas_crear").parent().addClass("checked")
              }
              if (per_areas[1] == 4) {
                  $("#areas_editar").attr("checked", true)
                  $("#areas_editar").parent().addClass("checked")
              }
              if (per_areas[2] == 2) {
                  $("#areas_leer").attr("checked", true)
                  $("#areas_leer").parent().addClass("checked")
              }

              if (per_areas[3] == 1) {
                  $("#areas_eliminar").attr("checked", true)
                  $("#areas_eliminar").parent().addClass("checked")
              }
          }
          <% end %>
          <% if p.view_name == "Views"%>
          var per_stores = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

          if (per_stores[0] == 8 || per_stores[1] == 4 || per_stores[2] == 2 || per_stores[3] == 1) {
              if (per_stores[0] == 8) {
                  $("#views_crear").attr("checked", true)
                  $("#views_crear").parent().addClass("checked")
              }
              if (per_stores[1] == 4) {
                  $("#views_editar").attr("checked", true)
                  $("#views_editar").parent().addClass("checked")
              }
              if (per_stores[2] == 2) {
                  $("#views_leer").attr("checked", true)
                  $("#views_leer").parent().addClass("checked")
              }

              if (per_stores[3] == 1) {
                  $("#views_eliminar").attr("checked", true)
                  $("#views_eliminar").parent().addClass("checked")
              }
          }
          <% end %>

          <% end %>
          <% end %>
      })

      $(function () {
          $('#check_all').click(function () {

              if ($(this).hasClass("sel")) {
                  $(this).removeClass("sel")
                  $(this).addClass("unsel")
                  $(this).html('');
                  $(this).append('<i class="fa fa-plus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')

                  <% @views.each do |v| %>
                  <% if v.crear == 1 || v.crear == "1" %>
                  $("#<%= v.name.parameterize.underscore %>_crear").attr("checked", false)
                  $("#<%= v.name.parameterize.underscore %>_crear").parent().removeClass("checked")
                  <% end %>
                  <% if v.editar == 1 || v.editar == "1" %>
                  $("#<%= v.name.parameterize.underscore %>_editar").attr("checked", false)
                  $("#<%= v.name.parameterize.underscore %>_editar").parent().removeClass("checked")
                  <% end %>
                  <% if v.leer == 1 || v.leer == "1" %>
                  $("#<%= v.name.parameterize.underscore %>_leer").attr("checked", false)
                  $("#<%= v.name.parameterize.underscore %>_leer").parent().removeClass("checked")
                  <% end %>
                  <% if v.eliminar == 1 || v.eliminar == "1" %>
                  $("#<%= v.name.parameterize.underscore %>_eliminar").attr("checked", false)
                  $("#<%= v.name.parameterize.underscore %>_eliminar").parent().removeClass("checked")
                  <% end %>
                  <% end %>
              } else {
                  $(this).removeClass("unsel")
                  $(this).addClass("sel")
                  $(this).html('');
                  $(this).append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.unselect') %> </label>')

                  <% @views.each do |v| %>
                  <% if v.crear == 1 || v.crear == "1" %>
                  $("#<%= v.name.parameterize.underscore %>_crear").attr("checked", true)
                  $("#<%= v.name.parameterize.underscore %>_crear").parent().addClass("checked")
                  <% end %>
                  <% if v.editar == 1 || v.editar == "1" %>
                  $("#<%= v.name.parameterize.underscore %>_editar").attr("checked", true)
                  $("#<%= v.name.parameterize.underscore %>_editar").parent().addClass("checked")
                  <% end %>
                  <% if v.leer == 1 || v.leer == "1" %>
                  $("#<%= v.name.parameterize.underscore %>_leer").attr("checked", true)
                  $("#<%= v.name.parameterize.underscore %>_leer").parent().addClass("checked")
                  <% end %>
                  <% if v.eliminar == 1 || v.eliminar == "1" %>
                  $("#<%= v.name.parameterize.underscore %>_eliminar").attr("checked", true)
                  $("#<%= v.name.parameterize.underscore %>_eliminar").parent().addClass("checked")
                  <% end %>
                  <% end %>
              }
          })

          $("#check_all").css("width", "155")
          <% if action_name == "edit" %>
          <% @permisos_usuario = current_user.profile.permissions.order(:view_id) %>
          <% @checked == true %>

          <% @permisos_usuario.each do |per_usu| %>
          <% @views.each do |v| %>
          <% if per_usu.view_name == v.name %>
          <% if per_usu.crear == 8 && (v.crear == 1 || v.crear == "1") %>
          <% @checked = true %>
          $("#check_all").removeClass("sel")
          $("#check_all").addClass("unsel")
          $("#check_all").html('');
          $("#check_all").append('<i class="fa fa-plus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
          <% else %>
          <% @checked = false %>
          <% break %>
          <% end %>

          <% if per_usu.editar == 4 && (v.editar == 1 || v.editar == "1") %>
          <% @checked = true %>
          $("#check_all").removeClass("sel")
          $("#check_all").addClass("unsel")
          $("#check_all").html('');
          $("#check_all").append('<i class="fa fa-plus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
          <% else %>
          <% @checked = false %>
          <% break %>
          <% end %>

          <% if per_usu.leer == 2 && (v.leer == 1 || v.leer == "1") %>
          <% @checked = true %>
          $("#check_all").removeClass("sel")
          $("#check_all").addClass("unsel")
          $("#check_all").html('');
          $("#check_all").append('<i class="fa fa-plus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
          <% else %>
          <% @checked = false %>
          <% break %>
          <% end %>

          <% if per_usu.eliminar == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
          <% @checked = true %>
          $("#check_all").removeClass("sel")
          $("#check_all").addClass("unsel")
          $("#check_all").html('');
          $("#check_all").append('<i class="fa fa-plus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
          <% else %>
          <% @checked = false %>
          <% break %>
          <% end %>
          <% end %>
          <% end %>
          <% end %>

          <% if @checked == false %>
          $("#check_all").removeClass("unsel")
          $("#check_all").addClass("sel")
          $("#check_all").html('');
          $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.unselect') %> </label>')
          <% end %>
          <% end %>

      })

      $('#btn_modal').on("click", function () {

          var campo = $("#day").val();
          $("#campoday").val(campo);

          var campo2 = $("#month").val();
          $("#campomonth").val(campo2);

          $('#dialog').fadeOut(800);
          $('#lday').hide();
          $('#day').hide();
          $('#month').hide();
          $('#day').val("");
          $('#lmonth').hide();
          $('#month').val("");
          var select = $('#salect_tiempo');
          select.val($('option:first', select).val());
      });


      $('#day, #month').on('input', function () {
          valor = $(this).val()
          patron = /^[0-9/]*$/
          remp = /[^ 0-9/]+/gi

          if (!patron.test(valor)) {
              this.value = valor.replace(remp, "");
          }
      });

      $("#day").on("keyup", function () {
          option = false;
          $("#day").each(function () {
              if (!this.value) {
                  option = true;
              }
          });
          $("#btn_modal").attr("disabled", option);
      });

      $("#month").on("keyup", function () {
          option = false;
          $("#month").each(function () {
              if (!this.value) {
                  option = true;
              }
          });
          $("#btn_modal").attr("disabled", option);
      });


      $('#salect_tiempo').change(function () {
          var valor = $(this).val();
          if (valor == 1 || valor == "1") {
              $('#lday').show();
              $('#day').show();
              $('#lmonth').hide();
              $('#month').hide();
          } else if (valor == 2 || valor == "2") {
              $('#lmonth').show();
              $('#month').show();
              $('#lday').hide();
              $('#day').hide();
          } else {
              $('#lday').hide();
              $('#day').hide();
              $('#lmonth').hide();
              $('#month').hide();
          }
      })


      $('#btn_Per').on("click", function () {
          $('#dialog').show();
      });

      <% if action_name == "edit" %>

      $('.close').on("click", function () {
          $('#dialog').fadeOut(800);
      });

      <% else action_name == "edit" %>

      $('.close').on("click", function () {
          $('#dialog').fadeOut(800);
          $('#lday').hide();
          $('#day').hide();
          $('#month').hide();
          $('#day').val("");
          $('#lmonth').hide();
          $('#month').val("");
          var select = $('#salect_tiempo');
          select.val($('option:first', select).val());
      });

      <% end %>

  </script>
<% end %>