<%#= javascript_include_tag 'jquery' %>
<%#= javascript_include_tag 'filtering_categorizations' %>

<div class="col-lg-6">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5><%= t('views.chart_index.title_dos')%></h5>
    </div>
    <div class="ibox-content">
      <div id="morris-line-chart"></div>
    </div>
  </div>
</div>


<% label = @label.to_json %>
<% color = @color.to_json %>

<% lad = @labelD.to_json %>
<script>

    $(function () {
        Morris.Line({
            //element: gon.area,
            element: 'morris-line-chart',
            data: [<% @datosScript.each do |n|%> <%= n%><% end %>],
            xLabels: 'hour',
            xkey: 'time',
            yLabelFormat: function (y) {
                return y != Math.round(y) ? '' : y;
            },
            ykeys: <%= raw label %>,
            resize: true,
            lineWidth: 1,
            labels: <%= raw label %>,
            lineColors: <%= raw color %>,
            pointSize: 1,
            parseTime: false,
            hideHover: true
        });
    });

</script>