<%= javascript_include_tag 'filtering_categorizations' %>

<div class="row">
  <!-- <div class="col-md-12 col-lg-12 col-xs-12"> -->
  <div id="dynamic">

    <% if @datos1.present? %>
      <%= render partial: 'dynamic' %>
    <% else %>
      <%= render partial: 'chart/empty' %>
    <% end %>

  </div>
  <!-- </div> -->
  <!-- <div class="col-md-12 col-lg-12 col-xs-12"> -->
  <div id="pie">
    <%#= render partial: 'chart/empty'%>
    <%= render partial: 'pies' %>
  </div>
  <!-- </div>-->

</div>

<script>
    //   $(document).ready(function(){
    //       window.cargar = function () {
    //           $('.dynamic').load('/chart/dynamic');
    //       }
    //   })


    $(document).ready(function () {
        function refresh() {
            console.log('EntreAlRefrsh')
            $('#dynamic').load('/chart/dynamic');
            $('#pie').load('/chart/pies');
        }

        setInterval(refresh, 30000)

        window.recargar = function () {
            $('#dynamic').load('/chart/dynamic');
            $('#pie').load('/chart/pies');
        }


    })


</script>