@charset "UTF-8";
/* line 6, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.inValue {
  display: flex;
  flex-direction: row;
}
/* line 10, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.inValue .anchoSelect {
  width: 50%;
}
/* line 13, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.inValue .anchoSelect:last-child {
  padding-left: .5em;
}

/* line 20, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.upFiles {
  background-color: #fff;
  border: 1px solid #e5e6e7;
  padding: .4em;
}
/* line 25, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.upFiles .custonText {
  color: #aaa;
}

/* line 31, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.altura {
  height: 59px;
  line-height: 1.9;
}

/* line 37, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.operador, .conector {
  color: #f8ac59;
  font-size: 16px;
}

/* line 42, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.parenthesis {
  font-size: 20px;
}

/* line 46, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.negado {
  color: #ed5565;
}

/* line 50, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.tdDispNone, .thDisNone {
  display: none;
}

/* line 55, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.s_Condition {
  background-color: #fff;
  border-radius: 5px;
  height: 400px;
  overflow: auto;
  padding: 0;
}

/* line 63, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.container {
  background-color: #fff;
  border-radius: 5px;
  overflow: auto;
  height: 400px;
  width: 105%;
  transition: all .3s ease;
}

/* line 74, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.container::-webkit-scrollbar, .s_Condition::-webkit-scrollbar {
  width: 8px;
  /*=> ancho del scroll*/
  background-color: #000000;
  /*=> Color del fondo principal */
}
/* line 79, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.container::-webkit-scrollbar-track, .s_Condition::-webkit-scrollbar-track {
  background-color: #ccc;
}
/* line 83, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.container::-webkit-scrollbar-thumb, .s_Condition::-webkit-scrollbar-thumb {
  background-color: #0c3056;
  /*=> color del indicador del scroll */
  border-radius: 10px;
  /*=> bordes redondeados */
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3));
}

/* line 91, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.condicion, .parAbre, .parCierre {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  z-index: 99999;
}

/* line 101, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.conectorP {
  background-color: #f8ac59 !important;
  color: white !important;
}

/* line 107, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.btn-width {
  margin-bottom: .5em;
  overflow: hidden;
  width: 98px;
}

/* line 114, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.drop-target {
  border-top: 2px solid #337ab7 !important;
  border-bottom: 2px solid #337ab7 !important;
}

/* line 121, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.modal-size {
  width: 80%;
  background-color: #fff;
  margin: auto;
  margin-top: 10em;
  border-radius: 5px;
}

/* line 130, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.content_campos {
  height: 100%;
  overflow: auto;
}
/* line 134, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.content_campos table, .content_campos thead, .content_campos tr, .content_campos th {
  background-color: #eee;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*Unifica el select con el input*/
/* line 143, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.input-select-unidos {
  display: flex;
  flex-direction: row;
}
/* line 147, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.input-select-unidos select:first-child {
  width: 60%;
}
/* line 151, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.input-select-unidos input:last-child {
  width: 150%;
}

/*Estilos para el contenedor de la table de campos*/
/* line 158, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.content_campos, .content_table_campos {
  max-height: 300px;
  overflow: auto;
}
/* line 163, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.content_campos::-webkit-scrollbar, .content_table_campos::-webkit-scrollbar {
  width: 8px;
  /*=> ancho del scroll*/
  background-color: #000000;
  /*=> Color del fondo principal */
}
/* line 168, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.content_campos::-webkit-scrollbar-track, .content_table_campos::-webkit-scrollbar-track {
  background-color: #e7eaec;
}
/* line 172, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.content_campos::-webkit-scrollbar-thumb, .content_table_campos::-webkit-scrollbar-thumb {
  background-color: #0c3056;
  /*=> color del indicador del scroll */
  border-radius: 10px;
  /*=> bordes redondeados */
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3));
}
/* line 178, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.content_campos thead, .content_campos tr, .content_campos th, .content_table_campos thead, .content_table_campos tr, .content_table_campos th {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*Estilos para los header de los subtitulos - Mensajes de Alertas y Referencias*/
/* line 186, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.custom-table {
  background-color: #fff;
  padding: 0;
}

/* line 192, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.header-subtitle {
  background-color: #003057;
  border-radius: 5px 5px 0 0;
  padding: .5em;
}
/* line 197, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.header-subtitle h4 {
  font-weight: 100;
  color: #fff;
}

/* line 204, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.flex-mensaje, .btn-tunning {
  display: flex;
  flex-direction: row;
}

/* line 210, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.flex-mensaje {
  justify-content: space-between;
}

/* line 215, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.btn-tunning {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
}
/* line 221, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.btn-tunning:hover {
  background-color: #9ea6b9;
}

/* line 227, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn {
  width: 60%;
  margin: auto;
  margin-top: 2em;
}
/* line 232, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn .campos_modal {
  display: flex;
  flex-direction: row;
  /*Tabla de campos en modal*/
  /*Configuración del mensaje*/
}
/* line 237, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn .campos_modal div.msn:first-child {
  max-height: 322px;
  overflow: auto;
  width: 70%;
}
/* line 243, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn .campos_modal div.msn:first-child tr {
  cursor: pointer;
}
/* line 249, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn .campos_modal div.msn:last-child {
  padding-left: 2em;
  width: 30%;
}
/* line 254, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn .campos_modal div.msn:last-child .d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 260, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn .campos_modal div.msn:last-child .primeros, .modal-size-msn .campos_modal div.msn:last-child .ultimos {
  display: none;
}
