<div id="filter-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #003057; color:#fff;">
        <button id="modal_padre" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="fa fa-filter"></i> <%= title %></h4>
      </div>
      <%= form_for @tx_filter, :html=>{class:'p-md'}, remote: true do |f| %>
        <% if @tx_filter.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(tx_filters.errors.count, "error") %> prohibited this tx_filters from being saved:</h2>

            <ul>
              <% tx_filter.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if action_name == 'new' %>

          <!-- Campo que guarda a que  Session se asignara este filtro -->
          <%= f.hidden_field :Session_id, value: params[:idSession] %>

          <h1><i class="fa fa-filter"></i> <%= t('views.tx_filter_index.title') %></h1>
          <fieldset class="responsive-fieldset" style="float: none; position: inherit;">
            <h3 class="text-center"><%= t('views.tx_filter_new.title') %></h3>
            <div class="row">
              <!-- ####### Descipción del Filtro ####### -->
              <div class="form-group col-lg-4">
                <%= f.label :Description, t('views.tx_filter_new.description') %>
                <%= f.text_field :Description, class:'form-control', placeholder:t('views.tx_filter_new.place_description'), autocomplete:'off', required: true %>
              </div>

              <!-- ####### Select Tipo de Filtro ####### -->
              <div class="col-md-3 col-lg-4">
                <%= f.label :Order_number, t('views.tx_filter_new.type_filter') %>
                <%= f.select :Order_number ,{ t('views.tx_filter_new.select_type_filter') => '', t('views.tx_filter_new.option_main') => 0, t('views.tx_filter_new.option_general') => 1, t('views.tx_filter_new.option_group') => 2},{}, {class:'form-control'} %>
              </div>

              <!-- ####### Input Color y Select Groups ####### -->
              <div class="back-change">

                <!-- ####### Input Color ####### -->
                <div class="form-group col-lg-3 col-md-3 colorPicker" style="display: none">
                  <%#= f.label :backgroundColor, t('views.tx_filter_new.filter_color') , :id => "colorlabel" %>
                  <label for=""><%= t('views.tx_filter_new.filter_color')  %></label>
                  <input type="text" class="form-control demo" id="backgroundColor" name="backgroundColor" autocomplete="off">
                </div>

                <!-- ####### Select Group ####### -->
                <div class="form-group col-lg-3 col-md-3 choseSelect" style="display: none">
                  <label><%= t('views.tx_filter_new.group') %></label>
                  <br>
                  <select data-placeholder="<%= t('views.tx_filter_new.place_group') %>" class="chosen-select" multiple style="width: 350px" tabindex="4" name="group_filter" id="group_sel">
                  </select>
                </div>

              </div>
            </div>
          </fieldset>

          <h1><i class="fa fa-filter"></i> <%= t('views.tx_filter_detail_index.title') %></h1>
          <fieldset class="responsive-fieldset filterDetail" style="float: none; position: inherit;">
              <h3 class="text-center"><%= t('views.tx_filter_detail_index.title') %></h3>
              <br>
              <br>
              <div class="row col-lg-4" style="border-right: 2px solid #d6d6d6;">
                <!--######## EN ESTE DIV SE ENCUENTRAN CAMPOS-OPERADORES-VALUE-BEWTWEEN-IN ######### -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.feild') %></label>
                  <select name="" id="selectFeild" class="form-control selectFeild">
                    <option value=""><%= t('views.tx_filter_detail_new.select_feild') %></option>
                  </select>
                </div>

                <!--####### SELECT OPERATORS -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.operators') %></label>
                  <select name="" id="operator_sel" class="form-control operator_sel">
                    <option value=""><%= t('views.tx_filter_detail_new.select_operator') %></option>
                    <option value="0"> = </option>
                    <option value="1"> <> </option>
                    <option value="2"> > </option>
                    <option value="3"> >= </option>
                    <option value="4"> < </option>
                    <option value="5"> <= </option>
                    <option value="6"> Like </option>
                    <option value="7"> In </option>
                    <option value="7"> <%= t('views.tx_filter_detail_new.notPalabra') %> In </option>
                    <option value="8"> Between </option>
                    <option value="8"> <%= t('views.tx_filter_detail_new.notPalabra') %> Between </option>
                  </select>
                </div>

                <!--####### INPUT VALOR -->
                <div class="oneValue form-group col-lg-12">
                  <label for="valor"><%= t('views.tx_filter_detail_new.value') %></label>
                  <input type="text" id="valor" class="form-control" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_value') %>">
                </div>

                <!--####### INPUTS BETWEEN / NOT BETWEEN -->
                <div class="betweenValue form-group col-lg-12" style="display: none">
                  <!--                    <label style="display: block">Between Or Not Between</label>-->
                  <input type="text" id="valOneBetween" class="form-control valOneBetween" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_betw1') %>" style="width: 47.5%; margin: 0; display: inline-block;">
                  -
                  <input type="text" id="valTwoBetween" class="form-control valTwoBetween" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_betw2') %>" style="width: 47.5%; margin: 0; display: inline-block;">
                </div>

                <!--####### SELECTS IN / NOT - AGREGAR LISTA -->
                <div class="inValue form-group col-lg-12" style="display: none">
                  <div class="anchoSelect inNot">
                    <!--                      <label style="display: block">In Or Not</label>-->
                    <select name="" id="selectList" class="form-control">
                      <option value=""><%= t('views.tx_filter_detail_new.select_list') %></option>
                      <option value="1">Tarj_Vip</option>
                      <option value="2">Tarj_Master</option>
                      <option value="3">Tarj_Visa</option>
                      <option value="4">Linea_Blanca</option>
                      <option value="5">Master</option>
                      <option value="6">Amex</option>
                    </select>
                  </div>

                  <div class="anchoSelect">
                    <label><%= t('views.tx_filter_detail_new.add_list') %></label>
                    <br>
                    <%#= f.file_field :attachment, id:'realBtnFile', class:'realBtnFile', style:'display: none'%>
                    <input type="file" id="realBtnFile" class="realBtnFile" style="display: none;">
                    <div class="upFiles">
                      <span class="btn btn-xs btn-primary falseBtnFile"><i class="fa fa-upload"></i></span>
                      <span id="customText" class="customText"> <%= t('views.tx_filter_detail_new.place_add_list') %></span>
                    </div>
                  </div>

                </div>

                <!--####### SELECT CONECTORES -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.connectors') %></label>
                  <select name="" id="selectConnector" class="form-control" disabled="true">
                    <option value=""><%= t('views.tx_filter_detail_new.select_connector') %></option>
                    <option value="0"><%= t('views.tx_filter_detail_new.or') %></option>
                    <option value="1"><%= t('views.tx_filter_detail_new.and') %></option>
                  </select>
                </div>

                <!--####### CHECKBOX DENIED -->
                <div class="col-lg-3 text-center altura contDenied">
                  <label><%= t('views.tx_filter_detail_new.denied') %></label>
                  <br>
                  <input type="checkbox" id="denied" class="i-checks" value="0" name="denied">
                </div>

                <!--####### AGREGAR CONDICION-->
                <div class="col-lg-3 text-center altura">
                  <div>
                    <label><%= t('views.tx_filter_detail_new.btn_add_condition') %></label>
                    <br>
                    <span class="btn btn-success btn-xs addConditions"><i class="fa fa-plus"></i></span>
                  </div>
                </div>

                <!--####### AGREGAR Bloque de parenthesis-->
                <div class="col-lg-12" style="border-top: 2px solid #d6d6d6;  margin-top: 3em;">
                  <br>
                  <label><%= t('views.tx_filter_detail_new.add_parenthesis') %></label>
                  <select name="" id="selectParentesis" class="form-control selectParentesis">
                    <option value=""><%= t('views.tx_filter_detail_new.select_par') %></option>
                    <option title="<%= t('views.tx_filter_detail_new.and') %>" name="0" value="1"><%= t('views.tx_filter_detail_new.and') %>(</option>
                    <option title="<%= t('views.tx_filter_detail_new.or') %>" name="0" value="0"><%= t('views.tx_filter_detail_new.or') %>(</option>
                    <option title="" name="0" value="-1">(</option>
                    <option title="<%= t('views.tx_filter_detail_new.and') %>" name="1" value="1"><%= t('views.tx_filter_detail_new.notPalabra') %> <%= t('views.tx_filter_detail_new.and') %>(</option>
                    <option title="<%= t('views.tx_filter_detail_new.or') %>" name="1" value="0"><%= t('views.tx_filter_detail_new.notPalabra') %> <%= t('views.tx_filter_detail_new.or') %>(</option>
                    <option title="" name="1" value="-1"><%= t('views.tx_filter_detail_new.notPalabra') %>(</option>
                  </select>
                </div>
              </div>

              <div class="row col-lg-8" style="margin-left: 2em;">
                <!--######## Div donde se agregaran las condiciones ######### -->
                <div class="col-lg-12 col-md-12 text-right">
                  <%#= render partial: 'condition' %>
                  <div class="s_Condition">
                    <table class="table table-hover table-striped table-responsive" style="margin: 0">
                      <thead>
                      <tr>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.denied') %></th>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.connectors') %></th>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.expression') %></th>
                        <th data-hide="phone, table" class="text-center"><%= t('all.delete') %></th>
                      </tr>
                      </thead>
                      <tbody id="drag-elements" class="tBodyCondition">
                      <!-- Aquí se agregaran de forma dinamica las condiciones -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </fieldset>

          <!-- Campos de Referencia -->
          <h1><i class="fa fa-list"></i> Referencia</h1>
          <fieldset>
            <!--              <span id="camposRef" class="btn btn-primary btn-xs">inputs  valores</span>-->
            <div class="text-center">
              <h3>Eliga los campos de referencia</h3>
            </div>
            <div class="content_campos">
              <table class="table table-striped table-hover" >
                <thead>
                <tr>
                  <th >Elige</th>
                  <th >Campo</th>
                </tr>
                </thead>
                <tbody id="campos_alerta">
                <!-- Se llenara dinamicamente dependeiendo del filtro que el usuario elija -->
                </tbody>
              </table>
            </div>
          </fieldset>
          <!-- ## Termina Campos de Referencia -->

          <!-- Mensaje de alerta -->
          <h1><i class="fa fa-bell"></i> Horario</h1>
          <fieldset class="responsive-fieldset" style="float: none; position: inherit;">
            <div class="text-center" style="margin-bottom: 4em;">
              <h3>Configuración de Horario y Mensaje</h3>
            </div>
            <section class="row">

              <!-- Configuración del horario -->
              <article class="col-lg-6">
                <!-- Hora de inicio -->
                <div class="col-lg-6 form-group">
                  <label for=""><%= t('views.tx_filter_schedules_index.sh_start') %></label>
                  <div class="input-group clockpicker" data-placement="left" data-autoclose="true">
                    <span class="input-group-addon">
                     <i class="fa fa-clock-o"></i>
                    </span>
                    <%#= f.text_field :Hr_Start, id:'time_start', class:'form-control', placeholder:'Seleccione una hora', require: true, autocomplete:'off' %>
                    <input type="text" id="time_start" name="Hr_Start" class="form-control" placeholder="Seleccione una hora" autocomplete="off">
                  </div>
                </div>

                <!-- Hora de Termino -->
                <div class="col-lg-6 form-group">
                  <%= f.label :Hr_End, t('views.tx_filter_schedules_index.sh_end') %>
                  <div class="input-group clockpicker" data-placement="left" data-autoclose="true">
                    <span class="input-group-addon">
                     <i class="fa fa-clock-o"></i>
                    </span>
                    <%#= f.text_field :Hr_End, id:'time_end', class:'form-control', placeholder:'Seleccione una hora', require: true, autocomplete:'off' %>
                    <input type="text" id="time_end" name="Hr_End" class="form-control" placeholder="Seleccione una hora" autocomplete="off">
                  </div>
                </div>

                <!-- Aquí se define el limite y si este es máximo o mínimo -->
                <div class="col-lg-6 form-group">
                  <%#= f.label :Max_Tran, 'M' %>
                  <label for=""><%= t('views.tx_filter_schedules_index.limit') %></label>
                  <div class="input-select-unidos">
                    <select name="select_limit" id="limite" class="form-control" >
                      <option value="1">Máximo</option>
                      <option value="2">Mínimo</option>
                    </select>
                    <input type="text" id="limit_tran" class="form-control" name="limit" placeholder="Ingrese Limite" autocomplete="off" >
                  </div>
                </div>

                <!-- Aquí se define el Intervalo -->
                <div class="col-lg-6 form-group">
                  <%#= f.label :Interval, t('views.tx_filter_schedules_index.interval') %>
                  <label for=""><%= t('views.tx_filter_schedules_index.interval') %></label>
                  <div class="input-select-unidos">
                    <%#= f.number_field :Interval, class:'form-control', placeholder:'Ingrese un Intervalo', autocomplete:"off" ,required: true %>
                    <select name="UMInterval" id="select_Interval_time" class="form-control">
                      <option value="0"><%= t('views.tx_filter_schedules_index.min') %></option>
                      <option value="1"><%= t('views.tx_filter_schedules_index.sec') %></option>
                    </select>
                    <input type="text" id="interval" name="Interval" class="form-control" placeholder="Ingrese un Intervalo" autocomplete="off" >

                  </div>
                </div>

                <!-- Aquí se define el Intermedio -->
                <div class="col-lg-6 form-group optianal" style="display: none;">
                  <%#= f.label :Intermediate, 'Intermedio' %>
                  <label for="">Intermedio</label>
                  <div class="input-select-unidos">
                    <%#= f.number_field :Intermediate, class:'form-control', placeholder:'Ingrese un Intermedio', autocomplete:"off" %>
                    <select name="UMIntermediate" id="select_intermediate_time" class="form-control">
                      <option value="-1"></option>
                      <option value="0"><%= t('views.tx_filter_schedules_index.min') %></option>
                      <option value="1"><%= t('views.tx_filter_schedules_index.sec') %></option>
                    </select>
                    <input type="text" id="intermediate"name="Intermediate" value="0" class="form-control" placeholder="Ingrese un Intermedio" autocomplete="off" >

                  </div>
                </div>

                <!-- Aquí se define el Time Out -->
                <div class="col-lg-6 form-group optianal" style="display: none;">
                  <label for="">Tiempo Fuera</label>
                  <div class="input-select-unidos">
                    <%#= f.number_field :TimeOut, class:'form-control', placeholder:'Ingrese un Timpo Fuera', autocomplete:"off" %>
                    <select name="UMTimeout" id="select_timeout_time" class="form-control" >
                      <option value="-1"></option>
                      <option value="0"><%= t('views.tx_filter_schedules_index.min') %></option>
                      <option value="1"><%= t('views.tx_filter_schedules_index.sec') %></option>
                    </select>
                    <input type="text" id="timeOut" name="TimeOut" value="0" class="form-control" placeholder="Ingrese un Timpo Fuera" autocomplete="off" >

                  </div>
                </div>
              </article>

              <!-- Contenedor de los mensaje de Alerta -->
              <article class="col-lg-6 custom-table">
                <div class="header-subtitle flex-mensaje">
                  <h4>Mensajes de Alertas</h4>
                  <span id="addMsn" class="btn btn-tunning btn-xs" data-toggle="modal" data-target="#modal1" title="Agregar Mensaje"><i class="fa fa-plus"></i></span>
                </div>
                <br>
                <table class="table table-striped table-responsive" >
                  <thead>
                  <tr>
                    <th>Escalamiento</th>
                    <!--                      <th>Color</th>-->
                    <th>Mensaje</th>
                  </tr>
                  </thead>
                  <tbody class="mensaje-de-alerta">
                  <!-- Se llenara dinamicamente con los mensajes agregados por el usuario -->
                  </tbody>
                </table>
              </article>
            </section>
            <!--## Termina Configuración del horario -->
          </fieldset>

        <% elsif action_name == 'edit' %>

          <div class="form-group">
            <%= f.label t('views.tx_filter_index.title') %>
            <%= f.text_field :Description, class:'form-control', autocomplete:'off' %>
          </div>
          <div class="form-group">
            <%= f.label t('views.tx_filter_new.type_filter') %>
            <%= f.select :Order_number ,{ 'Principal' => 0, 'Secundario' => 1, 'Grupal' => 2},{}, {class:'form-control'} %>
          </div>

          <div class="form-group" style='<%= "#{'display:none' if @tx_filter.Order_number != 1 }" %>'>
            <%= f.label t('views.tx_filter_new.filter_color') %>
            <%= f.text_field :Backgroundcolor, class:'form-control demo', autocomplete:'off' %>
          </div>

          <%= f.submit t('all.save'), class:'btn btn-primary btn-xs' %>
        <% end %>
        <% @sesPrinExist = TxFilter.where(:Session_id => params[:idSession]).where(:Order_number => 0).present?  %>
      <% end %>
      <script type="text/javascript" charset="utf-8">
        //El codigo de abajo se ejecuta solo si estas en el metodo new
        let metodo = "<%= action_name %>",
            existPrin = "<%= @sesPrinExist %>";

        if ( metodo == "new" ){

          // Crea los steps para el formulario
          let form = $('form#new_tx_filters');
          form.steps({
            bodyTag: "fieldset"
          });

          $('.modal-dialog').css('width','90%');

          if ( existPrin == "true" ){
              alert('Ocultar princpal');
              $('#tx_filters_Order_number option[value="0"]').fadeOut();

          }

        } else if ( metodo == "edit" ){
          let esPrincipal = '<%= "#{h @tx_filter.Order_number}" %>';

          if ( existPrin == "true" && esPrincipal != '0' ){

            $('#tx_filters_Order_number option[value="0"]').fadeOut();

          }
        }

        //---Crea la paleta de colores con jquery-minicolors-rails
        $('.demo').each(function () {
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                defaultValue: $(this).attr('data-defaultValue') || '',
                format: $(this).attr('data-format') || 'hex',
                keywords: $(this).attr('data-keywords') || '',
                inline: $(this).attr('data-inline') === 'true',
                letterCase: $(this).attr('data-letterCase') || 'lowercase',
                opacity: $(this).attr('data-opacity'),
                position: $(this).attr('data-position') || 'bottom left',
                swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
                change: function (value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        //console.log(value);
                    }
                },
                theme: 'bootstrap'
            });
        });

      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->