<!--<p id="notice"><%#= notice %></p>

<p>
  <strong>Name:</strong>
  <%#= @state.name %>
</p>

<p>
  <strong>Mensdefault:</strong>
  <%#= @state.mensDefault %>
</p>

<p>
  <strong>Fraude:</strong>
  <%#= @state.fraude %>
</p>

<%#= link_to 'Edit', edit_state_path(@state) %> |
<%#= link_to 'Back', states_path %>-->

<div id="head">
  <h1><%= t('views.states_show.title_state') %></h1>
  <br>
</div>

<p class="text-center">
  <strong><%= t('views.states_index.name') %></strong>:
  <%= @state.Descripcion %>
</p>
<p class="text-center">
  <strong><%= t('views.states_index.message_default') %></strong>:
  <%= @state.mensajeDefault %>
</p>

<p class="text-center">
  <strong>Fraude</strong>:
  <% if @state.falso_positivo == 0 %>
    <%= t('views.states_index.fraud_no') %>
  <% elsif @state.falso_positivo == 1 %>
    <%= t('views.states_index.fraud_yes') %>
  <% elsif @state.falso_positivo == 2 %>
    <%= t('views.states_index.fraud_pend') %>
  <% end %>
  <br>
  <%#= @state.falso_positivo %>
</p>

<p class="text-center">
  <%= link_to t('all.edit'), edit_state_path(@state), :class => 'btn btn-warning' %> |
  <%= link_to t('all.back'), states_path, :class => 'btn btn-default' %>
</p>

