<div class="row" id="margen">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('all.consul_g') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <% if @error.present? %>
          <script>
              swal({
                  title: "<%= t('all.no_filter')%>",
                  type: "warning"

              });
          </script>
        <% end %>
        <%= form_tag({:controller => "con_gen", :action => "index"}, :method => "get", :class => "form-horizontal", :id => "form_busqueda") do %>
          <input type="hidden" name="busqueda" value="si">
          <section class="container ">
            <div class="row">
              <!--PRODUCT FIELD-->
              <div class="col-xs-4">
                <% if @producto %>
                  <% if @producto == "1" %>
                    <select class="form-control input-sm" name="product" id="product_gen">
                      <option value=""><%= t('views.con_gen.product') %></option>
                      <% if @leerConTran == 2 %>
                        <option value="1" selected>Key Monitor Transaccional</option>
                      <% end %>
                      <% if @leerConPer == 2 %>
                        <option value="2">Key Monitor Perfiles</option>
                      <% end %>
                    </select>
                  <% else %>
                    <select class="form-control input-sm" name="product" id="product_gen">
                      <option value=""><%= t('views.con_gen.product') %></option>
                      <% if @leerConTran == 2 %>
                        <option value="1">Key Monitor Transaccional</option>
                      <% end %>
                      <% if @leerConPer == 2 %>
                        <option value="2" selected>Key Monitor Perfiles</option>
                      <% end %>
                    </select>
                  <% end %>
                <% else %>
                  <select class="form-control input-sm" name="product" id="product_gen">
                    <option value=""><%= t('views.con_gen.product') %></option>
                    <% if @leerConTran == 2 %>
                      <option value="1">Key Monitor Transaccional</option>
                    <% end %>
                    <% if @leerConPer == 2 %>
                      <option value="2">Key Monitor Perfiles</option>
                    <% end %>
                  </select>
                <% end %>


              </div>
              <!--APPS FIELD-->
              <div class="col-md-4 m-b-15">
                <% if @app %>
                  <select class="form-control input-sm" name="app" id="app_gen" disabled>
                    <option value=""><%= t('views.con_gen.app') %></option>
                  </select>
                  <script>
                      $(function () {
                          var idProducto = "<%= @producto %>";
                          idProducto = parseInt(idProducto);
                          for (i = 0; i < gon.apps.length; i++) {
                              if (gon.apps[i].idProducto == idProducto) {
                                  $("#app_gen").append(
                                      $("<option></option>").attr("value", gon.apps[i].id).text(gon.apps[i].Nombre)
                                  );
                              }
                          }

                          $('#app_gen option[value="<%= @app.to_s %>"]').prop("selected", true)
                      })
                  </script>
                <% else %>
                  <select class="form-control input-sm" name="app" id="app_gen" disabled>
                    <option value=""><%= t('views.con_gen.app') %></option>
                  </select>
                <% end %>
              </div>
              <!--USER FIELD-->
              <div class="col-md-4 m-b-15">
                <% if @user %>

                  <select name="user" class='form-control input-sm' id="user_gen">
                    <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_user') %></b></option>
                    <% if @sqlserver %>
                      <% @usuarios.each do |usuario| %>
                        <% if usuario['user_name'].nil? || usuario['user_name'] == "" %>
                          <option value="N/A"> N/A</option>
                        <% else %>
                          <option value=<%= usuario['user_name'] %>> <%= usuario['user_name'] %></option>
                        <% end %>
                      <% end %>
                    <% else %>
                      <% @usuarios.each do |usuario| %>
                        <option value=<%= usuario['user_name'] %>> <%= usuario['user_name'] %></option>
                      <% end %>
                    <% end %>

                  </select>

                  <script>
                      $(function () {
                          $('#user_gen option[value="<%= @user.to_s %>"]').prop("selected", true)
                      })

                  </script>
                <% else %>
                  <select name="user" class='form-control input-sm' id="user_gen">
                    <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_user') %></b></option>
                    <% if @sqlserver %>
                      <% @usuarios.each do |usuario| %>
                        <% if usuario['user_name'].nil? || usuario['user_name'] == "" %>
                          <option value="N/A"> N/A</option>
                        <% else %>
                          <option value=<%= usuario['user_name'] %>> <%= usuario['user_name'] %></option>
                        <% end %>
                      <% end %>
                    <% else %>
                      <% @usuarios.each do |usuario| %>
                        <option value=<%= usuario['user_name'] %>> <%= usuario['user_name'] %></option>
                      <% end %>
                    <% end %>
                  </select>
                <% end %>
              </div>
            </div>
            <br>

            <div class="row">
              <!--LAYOUT FIELD-->
              <div class="col-md-4 m-b-15">
                <% if @layout_b %>
                  <% if !@layout.nil? && @layout.present? %>
                    <select class="form-control input-sm" name="layout" id="layout_gen">
                      <option value="">Layout</option>
                      <% @layout.each do |ly| %>
                        <option value="<%= ly.IdLay %>"><%= ly.Descripcion %></option>
                      <% end %>
                    </select>
                    <script>
                        $(function () {
                            $('#layout_gen option[value="<%= @layout_b.to_s %>"]').prop("selected", true)
                        })
                    </script>
                  <% end %>
                <% else %>
                  <% if !@layout.nil? && @layout.present? %>
                    <select class="form-control input-sm" name="layout" id="layout_gen">
                      <option value="">Layout</option>
                      <% @layout.each do |ly| %>
                        <option value="<%= ly.IdLay %>"><%= ly.Descripcion %></option>
                      <% end %>
                    </select>
                  <% end %>
                <% end %>
              </div>
              <!--FORMAT FIELD-->
              <div class="col-md-4 m-b-15">
                <% if @format %>
                  <select class="form-control input-sm" name="format" id="format_gen" disabled>
                    <option value=""><%= t('views.con_gen.format') %></option>
                  </select>
                  <script>
                      $(function () {
                          var idLayout = "<%= @layout_b %>";
                          idLayout = parseInt(idLayout);
                          for (i = 0; i < gon.formato.length; i++) {
                              if (gon.formato[i].IdLay == idLayout) {
                                  $("#format_gen").append(
                                      $("<option></option>").attr("value", gon.formato[i].IdFormato).text(gon.formato[i].Descripcion)
                                  );
                              }
                          }

                          $('#format_gen option[value="<%= @format.to_s %>"]').prop("selected", true)
                      })
                  </script>
                <% else %>
                  <select class="form-control input-sm" name="format" id="format_gen" disabled>
                    <option value=""><%= t('views.con_gen.format') %></option>
                  </select>
                <% end %>
              </div>
              <!--TYPEREG FIELD-->
              <div class="col-md-4 m-b-15">
                <% if @tipo_reg_b %>

                  <select name="tipo_reg" class='form-control input-sm' id="tipo_reg_gen">
                    <option value="" selected="selected"><b><%= t('views.con_gen.type') %></b></option>
                    <% @tipo_reg.each do |treg| %>
                      <option value=<%= treg.IdTipoReg %>> <%= treg.Descripcion %></option>
                    <% end %>
                  </select>

                  <script>
                      $(function () {
                          $('#tipo_reg_gen option[value="<%= @tipo_reg_b.to_s %>"]').prop("selected", true)
                      })

                  </script>
                <% else %>
                  <select name="tipo_reg" class='form-control input-sm' id="tipo_reg_gen">
                    <option value="" selected="selected"><b><%= t('views.con_gen.type') %></b></option>
                    <% @tipo_reg.each do |treg| %>
                      <option value=<%= treg.IdTipoReg %>> <%= treg.Descripcion %></option>
                    <% end %>
                  </select>
                <% end %>
              </div>
            </div>
            <br>
            <div class="row">
              <!--START DATE FIELD-->
              <div class="col-md-4 m-b-15">
                <div class="form-group">
                  <label class="col-md-3 control-label text-left" id="start_label"><%= t('views.alertc_index.start_date') %></label>
                  <div class="col-md-9" id="dato_1">
                    <% if @start_date %>
                      <div class="input-group" id="start_input">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" name="start_date" class="form-control input-sm entrada" title="Fecha Inicial" placeholder="<%= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="start_date_gen" value="<%= @start_date %>">
                      </div>
                    <% else %>
                      <div class="input-group" id="start_input">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" name="start_date" class="form-control input-sm entrada" title="Fecha Inicial" placeholder="<%= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="start_date_gen" value="">
                      </div>
                    <% end %>

                  </div>
                </div>
              </div>
              <!--END DATE FIELD-->
              <div class="col-md-4 m-b-15">
                <div class="form-group">
                  <label class="col-md-3 control-label text-left" id="end_label"><%= t('views.alertc_index.end_date') %></label>
                  <div class="col-md-9" id="dato_2">
                    <% if @end_date %>
                      <div class="input-group" id="end_input">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" name="end_date" class='form-control input-sm salida' title="Fecha Final" placeholder="<%= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="end_date_gen" value="<%= @end_date %>">
                      </div>
                    <% else %>
                      <div class="input-group" id="end_input">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" name="end_date" class='form-control input-sm salida' title="Fecha Final" placeholder="<%= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="end_date_gen">
                      </div>
                    <% end %>

                  </div>
                </div>
              </div>
              <!--MESSAGE FIELD-->
              <div class="col-md-4 m-b-15">
                <% if @message %>
                  <%= text_field_tag "message", "", :size => 40, :maxlenght => 40, :class => 'form-control input-sm', :placeholder => t('views.alertc_index.placeh_mes'), :id => "message_gen", :autocomplete => "off", :value => @message %>
                <% else %>
                  <%= text_field_tag "message", "", :size => 40, :maxlenght => 40, :class => 'form-control input-sm', :placeholder => t('views.alertc_index.placeh_mes'), :id => "message_gen", :autocomplete => "off" %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9 m-b-15">
                <% if @query.present? %>
                  <h3><%= t('all.query') %>: <%= @query %></h3>
                <% end %>
              </div>
              <div class="col-md-3 m-b-15 text-right">
                <%= hidden_field_tag :IdUsuario, @IdUsuario %>
                <!--<h2><%#= submit_tag t('views.alertc_index.search'), class: 'btn btn-info', :style => "display: none;", :id => "search" %>-->

                <% if @query.present? %>
                  <%= link_to '<i class="fa fa-eraser"></i> '.html_safe + t('all.clean'), con_gen_index_path, :class => "btn btn-primary btn-sm", :data => {:no_turbolink => true} %> &nbsp;&nbsp;
                <% end %>

                <button class="btn btn-primary btn-sm" type="submit" id="search">
                  <i class="fa fa-search"></i>
                  <%= t('views.alertc_index.search') %>
                </button>

                <!--<%#= button_tag(type: 'submit', class: 'btn btn-info', :style => "display: none;", :id => "search") do %>-->
                <!--<i class="fa fa-search"></i>-->
                <!--<%#= t('views.alertc_index.search') %>-->
                <!--<%# end %>-->
                <!-- </h2> -->

              </div>
            </div>


          </section>
        <% end %>

        <br>
        <div class="row">
          <div class="col-sm-7">
            <% if @producto.present? && (@crearGen == 8) %>
              <% if @producto == "1" && @crearGen == 8 %>
                <% if @error != true %>
                  <button class="btn btn-primary btn-xs xls_g" type="button">
                    <i class="fa fa-floppy-o"></i> XLS
                  </button>
                  <input type="hidden" id="idioma" name="idioma" value="<%= params[:locale] %>">
                <% end %>
              <% end %>
              <% if @producto == "2" && @crearGen == 8 %>
                <% if @error != true %>
                  <button class="btn btn-primary btn-xs xls_g" type="button">
                    <i class="fa fa-floppy-o"></i> XLS
                  </button>
                  <input type="hidden" id="idioma" name="idioma" value="<%= params[:locale] %>">
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="detall_left">
                <%= page_entries_info @alertas, entry_name: t('activerecord.all.alert') %>
              </div>
              <div class="pag_right">
                <%= paginate @alertas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="alertas">
          <div class="col-xs-12">
            <table class="table table-bordered table-condensed table-striped" id="tablafi1" tabindex="5005">
              <thead>
              <tr>
                <th>Ticket</th>
                <th><%= t('views.con_gen.product') %></th>
                <th>Layout</th>
                <th><%= t('views.con_gen.format') %></th>
                <th><%= t('views.alertc_index.date') %></th>
                <th>IP</th>
                <th><%= t('views.con_gen.user') %></th>
                <th><%= t('views.con_gen.type') %></th>
                <th><%= t('views.alertc_index.message') %></th>
              </tr>
              </thead>
              <% if @alertas.present? %>
                <tbody>
                <% @alertas.each do |al| %>
                  <tr>
                    <td class="id_tran"><%= al.Id %></td>
                    <td>
                      <% if al.IdProducto == 1 %>
                        <%= "Transaccional" %>
                      <% else %>
                        <%= "Perfiles" %>
                      <% end %>
                    </td>
                    <td>

                      <% if al.tlay.present? %>
                        <% if al.tlay.Descripcion.present? %>
                          <%= al.tlay.Descripcion %>
                        <% else %>
                          N/A
                        <% end %>
                      <% else %>
                        N/A
                      <% end %>
                    </td>
                    <td>
                      <% @formato = Tformatos.all %>
                      <% @formato.each do |f| %>
                        <% if f.IdFormato == al.IdFormato %>
                          <% @formato_d = f.Descripcion %>
                        <% end %>
                      <% end %>
                      <% if @formato_d %>
                        <%= @formato_d %>
                      <% else %>
                        N/A
                      <% end %>
                    </td>
                    <td><%= al.Fecha %>
                      <bl></bl><%= al.Hora %></td>
                    <td>
                      <% if al.IP.present? %>
                        <%= al.IP %>
                      <% else %>
                        N/A
                      <% end %>

                    </td>
                    <td>
                      <% if al.user.present? %>
                        <%= al.user.name %> <%= al.user.last_name %>
                      <% else %>
                        <%= al.IdUsuario %>
                      <% end %>
                    </td>
                    <td><%= al.ttiporegalarma.Descripcion %> </td>
                    <td style="max-width: 30em"><%= al.Mensaje %></td>
                  </tr>
                <% end %>
                </tbody>
              <% end %>
            </table>
          </div>
          <div class="row" id="paginator">
            <div class="col-sm-7"></div>
            <div class="col-sm-5 text-right">
              <div style="margin-bottom: 2em;">
                <div class="pag_right">
                  <%= paginate @alertas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
                </div>
                <div class="detall_left">
                  <%= page_entries_info @alertas, entry_name: t('activerecord.all.alert') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

    $(document).ready(function () {
        $("input[type=text]").on("keyup", function () {
            option = false;
            $("input[type=text]").each(function () {
                if (!this.value) {
                    option = true;
                }
            });
            $("button[type=submit]").attr("disabled", option);
        });
    });

    $('#start_date_gen, #end_date_gen').on('input', function () {
        valor = $(this).val()
        patron = /^[0-9/]*$/
        remp = /[^ 0-9/]+/gi

        if (!patron.test(valor)) {
            this.value = valor.replace(remp, "");
        }
    });

    $('#message_gen').on('input', function () {
        if (!/^[ a-z0-9áéíóúüñ]*$/i.test(this.value)) {
            this.value = this.value.replace(/[^ a-z0-9áéíóúüñ]+/ig, "");
        }
    });

    $(document).ready(function () {
        $("input[name=start_date]").change(function () {
            $('input[name=end_date]').val($('').val());
        });
    });

    var getDate = function (input) {
        return new Date(input.date.valueOf());
    }

    $('.entrada, .salida').datepicker({
        format: "mm/dd/yyyy",
        language: 'es'
    });

    $('.salida').datepicker({
        startDate: '+6d',
        endDate: '+36d',
    });

    $('.entrada').datepicker({
        startDate: '+5d',
        endDate: '+35d',
    }).on('changeDate',
        function (selected) {
            $('.salida').datepicker('clearDates');
            $('.salida').datepicker('setStartDate', getDate(selected));
        });

    //---- Input para calendario
    $('#dato_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
    $('#dato_2 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
    //---- Fin Input para calendario

    $("#product_gen").change(function () {
        var producto = $(this).val()
        producto = producto.trim()
        var app = $("#app_gen").val()
        app = app.trim()
        var user = $("#user_gen").val()
        user = user.trim()
        var layout = $("#layout_gen").val()
        layout = layout.trim()
        var format = $("#format_gen").val()
        format = format.trim()
        var tipo_reg = $("#tipo_reg_gen").val()
        tipo_reg = tipo_reg.trim()
        var start_date = $("#start_date_gen").val()
        start_date = start_date.trim()
        var end_date = $("#end_date_gen").val()
        end_date = end_date.trim()
        var message = $("#message_gen").val()
        message = message.trim()

        if (producto == "") {
            $("#app_gen").val("");
            $("#app_gen option").remove();
            $("#app_gen optgroup").remove();
            $("#app_gen").append($("<option value></option>").text("<%= t('views.con_gen.app') %>"));
            $("#app_gen").attr("disabled", true);

            if (app != "" || user != "" || layout != "" || format != "" || tipo_reg != "" || (start_date != "" && end_date != "") || message != "") {
                $("#search").prop("disabled", false); //habilitar
            } else {
                $("#search").prop("disabled", true); //deshabilitar
            }
        }

        if (producto == "1") {
            $("#app_gen option").remove();
            $("#app_gen optgroup").remove();
            $("#app_gen").append($("<option value></option>").text("<%= t('views.con_gen.app') %>"));
            for (i = 0; i < gon.apps.length; i++) {
                if (gon.apps[i].idProducto == 1) {
                    $("#app_gen").append(
                        $("<option></option>").attr("value", gon.apps[i].id).text(gon.apps[i].Nombre)
                    );
                }
            }
            $("#app_gen").attr("disabled", false);

            $("#search").prop("disabled", false);
        }

        if (producto == "2") {
            $("#app_gen option").remove();
            $("#app_gen optgroup").remove();
            $("#app_gen").append($("<option value></option>").text("<%= t('views.con_gen.app') %>"));
            for (i = 0; i < gon.apps.length; i++) {
                if (gon.apps[i].idProducto == 2) {
                    $("#app_gen").append(
                        $("<option></option>").attr("value", gon.apps[i].id).text(gon.apps[i].Nombre)
                    );
                }
            }
            $("#app_gen").attr("disabled", false);

            $("#search").prop("disabled", false);
        }
    })

    $("#app_gen").change(function () {
        var producto = $("#product_gen").val()
        producto = producto.trim()
        var app = $(this).val()
        app = app.trim()
        var user = $("#user_gen").val()
        user = user.trim()
        var layout = $("#layout_gen").val()
        layout = layout.trim()
        var format = $("#format_gen").val()
        format = format.trim()
        var tipo_reg = $("#tipo_reg_gen").val()
        tipo_reg = tipo_reg.trim()
        var start_date = $("#start_date_gen").val()
        start_date = start_date.trim()
        var end_date = $("#end_date_gen").val()
        end_date = end_date.trim()
        var message = $("#message_gen").val()
        message = message.trim()

        if (app == "") {
            if (producto != "" || user != "" || layout != "" || format != "" || tipo_reg != "" || (start_date != "" && end_date != "") || message != "") {
                $("#search").prop("disabled", false);
            } else {
                $("#search").prop("disabled", true);
            }
        } else {
            $("#search").prop("disabled", false);
        }
    })

    $("#user_gen").change(function () {
        var producto = $("#product_gen").val()
        producto = producto.trim()
        var app = $("#app_gen").val()
        app = app.trim()
        var user = $(this).val()
        user = user.trim()
        var layout = $("#layout_gen").val()
        layout = layout.trim()
        var format = $("#format_gen").val()
        format = format.trim()
        var tipo_reg = $("#tipo_reg_gen").val()
        tipo_reg = tipo_reg.trim()
        var start_date = $("#start_date_gen").val()
        start_date = start_date.trim()
        var end_date = $("#end_date_gen").val()
        end_date = end_date.trim()
        var message = $("#message_gen").val()
        message = message.trim()

        if (user == "") {
            if (producto != "" || app != "" || layout != "" || format != "" || tipo_reg != "" || (start_date != "" && end_date != "") || message != "") {
                $("#search").prop("disabled", false);
            } else {
                $("#search").prop("disabled", true);
            }
        } else {
            $("#search").prop("disabled", false);
        }
    })

    $("#layout_gen").change(function () {
        var producto = $("#product_gen").val()
        producto = producto.trim()
        var app = $("#app_gen").val()
        app = app.trim()
        var user = $("#user_gen").val()
        user = user.trim()
        var layout = $(this).val()
        layout = layout.trim()
        var format = $("#format_gen").val()
        format = format.trim()
        var tipo_reg = $("#tipo_reg_gen").val()
        tipo_reg = tipo_reg.trim()
        var start_date = $("#start_date_gen").val()
        start_date = start_date.trim()
        var end_date = $("#end_date_gen").val()
        end_date = end_date.trim()
        var message = $("#message_gen").val()
        message = message.trim()

        if (layout != "") {
            $("#format_gen option").remove();
            $("#format_gen optgroup").remove();
            $("#format_gen").append($("<option value></option>").text("<%= t('views.con_gen.format') %>"));
            for (i = 0; i < gon.formato.length; i++) {
                if (gon.formato[i].IdLay == layout) {
                    $("#format_gen").append(
                        $("<option></option>")
                            .attr("value", gon.formato[i].IdFormato)
                            .text(gon.formato[i].Descripcion)
                    );
                }
            }
            $("#format_gen").attr("disabled", false);

            $("#search").prop("disabled", false);
        }

        if (layout == "") {
            $("#format_gen").val("");
            $("#format_gen option").remove();
            $("#format_gen optgroup").remove();
            $("#format_gen").append($("<option value></option>").text("<%= t('views.con_gen.format') %>"));
            $("#format_gen").attr("disabled", true);
        }
        if (producto != "" | app != "" || user != "" || fomrat != "" || tipo_reg != "" || (start_date != "" && end_date != "") || message != "") {
            $("#search").prop("disabled", false);
        } else {
            $("#search").prop("disabled", true);
        }

    })

    $("#format_gen").change(function () {
        var producto = $("#product_gen").val()
        producto = producto.trim()
        var app = $("#app_gen").val()
        app = app.trim()
        var user = $("#user_gen").val()
        user = user.trim()
        var layout = $("#layout_gen").val()
        layout = layout.trim()
        var format = $(this).val()
        format = format.trim()
        var tipo_reg = $("#tipo_reg_gen").val()
        tipo_reg = tipo_reg.trim()
        var start_date = $("#start_date_gen").val()
        start_date = start_date.trim()
        var end_date = $("#end_date_gen").val()
        end_date = end_date.trim()
        var message = $("#message_gen").val()
        message = message.trim()

        if (format == "") {
            if (producto != "" || app != "" || user != "" || layout != "" || format != "" || tipo_reg != "" || (start_date != "" && end_date != "") || message != "") {
                $("#search").prop("disabled", false);
            } else {
                $("#search").prop("disabled", true);
            }
        } else {
            $("#search").prop("disabled", false);
        }
    })

    $("#tipo_reg_gen").change(function () {
        var producto = $("#product_gen").val()
        producto = producto.trim()
        var app = $("#app_gen").val()
        app = app.trim()
        var user = $("#user_gen").val()
        user = user.trim()
        var layout = $("#layout_gen").val()
        layout = layout.trim()
        var format = $("#format_gen").val()
        format = format.trim()
        var tipo_reg = $("#tipo_reg_gen").val()
        tipo_reg = tipo_reg.trim()
        var start_date = $("#start_date_gen").val()
        start_date = start_date.trim()
        var end_date = $("#end_date_gen").val()
        end_date = end_date.trim()
        var message = $("#message_gen").val()
        message = message.trim()

        if (tipo_reg == "") {
            if (producto != "" || app != "" || user != "" || layout != "" || format != "" || (start_date != "" && end_date != "") || message != "") {
                $("#search").prop("disabled", false);
            } else {
                $("#search").prop("disabled", true);
            }
        } else {
            $("#search").prop("disabled", false);
        }
    })

    $("#start_date_gen").change(function () {
        var producto = $("#product_gen").val()
        producto = producto.trim()
        var app = $("#app_gen").val()
        app = app.trim()
        var user = $("#user_gen").val()
        user = user.trim()
        var layout = $("#layout_gen").val()
        layout = layout.trim()
        var format = $("#format_gen").val()
        format = format.trim()
        var tipo_reg = $("#tipo_reg_gen").val()
        tipo_reg = tipo_reg.trim()
        var start_date = $(this).val()
        start_date = start_date.trim()
        var end_date = $("#end_date_gen").val()
        end_date = end_date.trim()
        var message = $("#message_gen").val()
        message = message.trim()

        if (start_date == "" || end_date == "") {
            if (producto != "" || app != "" || user != "" || layout != "" || format != "" || tipo_reg != "" || message != "") {
                $("#search").prop("disabled", false);
            } else {
                $("#search").prop("disabled", true);
            }
        } else {
            $("#search").prop("disabled", false);
        }

    })

    $("#end_date_gen").change(function () {
        var producto = $("#product_gen").val()
        producto = producto.trim()
        var app = $("#app_gen").val()
        app = app.trim()
        var user = $("#user_gen").val()
        user = user.trim()
        var layout = $("#layout_gen").val()
        layout = layout.trim()
        var format = $("#format_gen").val()
        format = format.trim()
        var tipo_reg = $("#tipo_reg_gen").val()
        tipo_reg = tipo_reg.trim()
        var start_date = $("#start_date_gen").val()
        start_date = start_date.trim()
        var end_date = $(this).val()
        end_date = end_date.trim()
        var message = $("#message_gen").val()
        message = message.trim()

        if (start_date == "" || end_date == "") {
            if (producto != "" || app != "" || user != "" || layout != "" || format != "" || tipo_reg != "" || message != "") {
                $("#search").prop("disabled", false);
            } else {
                $("#search").prop("disabled", true);
            }
        } else {
            $("#search").prop("disabled", false);
        }

    })

    $("#message_gen").change(function () {
        var producto = $("#product_gen").val()
        producto = producto.trim()
        var app = $("#app_gen").val()
        app = app.trim()
        var user = $("#user_gen").val()
        user = user.trim()
        var layout = $("#layout_gen").val()
        layout = layout.trim()
        var format = $("#format_gen").val()
        format = format.trim()
        var tipo_reg = $("#tipo_reg_gen").val()
        tipo_reg = tipo_reg.trim()
        var start_date = $("#start_date_gen").val()
        start_date = start_date.trim()
        var end_date = $("#end_date_gen").val()
        end_date = end_date.trim()
        var message = $(this).val()
        message = message.trim()

        if (message == "") {
            if (producto != "" || app != "" || user != "" || layout != "" || format != "" || tipo_reg != "" || (start_date != "" && end_date != "")) {
                $("#search").prop("disabled", false);
            } else {
                $("#search").prop("disabled", true);
            }
        } else {
            $("#search").prop("disabled", false);
        }
    })


    $("#form_busqueda").submit(function () {
        var start_input = $("#start_date_gen").val()
        start_input = start_input.trim()

        var end_input = $("#end_date_gen").val()
        end_input = end_input.trim()

        if (start_input != "") {
            start_input = start_input.split("/");
            start_input = start_input[2] + '-' + start_input[0] + '-' + start_input[1]
            $("#start_date_gen").val(start_input)
        }
        if (end_input != "") {
            end_input = end_input.split("/");
            end_input = end_input[2] + '-' + end_input[0] + '-' + end_input[1]
            $("#end_date_gen").val(end_input)
        }

    })
    <% if @crearConPer == 8 || @crearConTran == 8 %>
    $(".xls_g").click(function () {
        var idioma = $("#idioma").val()
        //var params = '&product=<%= @producto %>&app=<%= @app %>&user=<%= @user %>&layout_b=<%= @layout_b %>&format=<%= @format %>&tipo_reg_b=<%= @tipo_reg_b %>&start_date=<%= @start_date %>&end_date=<%= @end_date %>&message=<%= @message %>'
        var params = '&product=<%= @producto %>&app=<%= @app %>&user=<%= @user %>&layout=<%= @layout_b %>&format=<%= @format %>&tipo_reg=<%= @tipo_reg_b %>&start_date=<%= @start_date %>&end_date=<%= @end_date %>&message=<%= @message %>'
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: "/con_gen/?xls_g=true" + "&user_id=<%= current_user.id %>" + "&idioma=" + idioma + params,
            data: {"_method": "index"},
        })

        toastr.options = {
            closeButton: true,
            progressBar: true,
            showMethod: 'slideDown',
            timeOut: 5000
        };
        toastr.success("<%= t('views.xls_a.message') %>", "<%= t('views.xls_a.message2') %>");
    })
    <%end %>
</script>

<style>

  .toast-success {
    background-color: #003057;
  }

  #toast-container > .toast-success:before {
    content: none;
  }

</style>