<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.areas_new.title_n') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">

        <%= render 'form', area: @area %>

      </div>
    </div>
  </div>
  <br>
</div>