<div class="row" id="margen">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('all.consul_a') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <% if @error.present? %>
          <script>
              swal({
                  title: "<%= t('all.no_filter')%>",
                  type: "warning"
              });
          </script>
        <% end %>
        <%= form_tag({:controller => "alertc", :action => "index"}, :method => "get", :class => "form-horizontal", :id => "form_busqueda") do %>
          <input type="hidden" name="busqueda" value="si">
          <section class="container ">
            <div class="row">
              <div class="col-xs-12">
                <% if @producto %>
                  <% if @producto == "1" %>
                    <select class="form-control" name="product" id="product">
                      <option value=""><%= t('views.alertc_index.placeh_product') %></option>
                      <% if @leerConTran == 2 %>
                        <option value="1" selected>Key Monitor Transaccional</option>
                      <% end %>
                      <% if @leerConPer == 2 %>
                        <option value="2">Key Monitor Perfiles</option>
                      <% end %>
                    </select>
                  <% else %>
                    <select class="form-control" name="product" id="product">
                      <option value=""><%= t('views.alertc_index.placeh_product') %></option>
                      <% if @leerConTran == 2 %>
                        <option value="1">Key Monitor Transaccional</option>
                      <% end %>
                      <% if @leerConPer == 2 %>
                        <option value="2" selected>Key Monitor Perfiles</option>
                      <% end %>
                    </select>
                  <% end %>
                <% else %>
                  <select class="form-control" name="product" id="product">
                    <option value=""><%= t('views.alertc_index.placeh_product') %></option>
                    <% if @leerConTran == 2 %>
                      <option value="1">Key Monitor Transaccional</option>
                    <% end %>
                    <% if @leerConPer == 2 %>
                      <option value="2">Key Monitor Perfiles</option>
                    <% end %>
                  </select>
                <% end %>
              </div>
            </div>
            <br>

            <% if @query.present? %>
              <div class="row">
                <div class="col-xs-10">
                  <h3><%= t('all.query') %>: <%= @query %></h3>
                </div>
                <div class="col-xs-2 text-right">
                  <div class="form-group">
                    <%= link_to '<i class="fa fa-eraser"></i> '.html_safe + t('all.clean'), alertc_index_path, :class => "btn btn-sm btn-primary", :data => {:no_turbolink => true} %> &nbsp;&nbsp;
                  </div>
                </div>
              </div>
              <br>
            <% end %>


            <div class="row">

              <div class="col-md-3 m-b-15">
                <% if @ticket %>
                  <%= text_field_tag "ticket", "", :size => 8, :type => 'number', :maxlenght => 8, :class => 'form-control input-sm', :placeholder => "Ticket", :id => "ticket", :autocomplete => "off", :value => @ticket %>
                <% else %>
                  <%= text_field_tag "ticket", "", :size => 8, :type => 'number', :maxlenght => 8, :class => 'form-control input-sm', :placeholder => "Ticket", :style => "display: none;", :id => "ticket", :autocomplete => "off" %>
                <% end %>

              </div>

              <div class="col-md-3 m-b-15">
                <% if @message %>
                  <%= text_field_tag "message", "", :size => 40, :maxlenght => 40, :class => 'form-control input-sm sltrs', :placeholder => t('views.alertc_index.placeh_mes'), :id => "message", :autocomplete => "off", :value => @message %>
                <% else %>
                  <%= text_field_tag "message", "", :size => 40, :maxlenght => 40, :class => 'form-control input-sm sltrs', :placeholder => t('views.alertc_index.placeh_mes'), :style => "display: none;", :id => "message", :autocomplete => "off" %>
                <% end %>


              </div>

              <div class="col-md-3 m-b-15">
                <% if @valor_ci %>
                  <%= text_field_tag "ValorCI_t", "", :size => 40, :maxlenght => 40, :class => 'form-control input-sm snum', :placeholder => t('views.alertc_index.placeh_value_ci'), :id => "valor_ci_t", :autocomplete => "off", :value => @valor_ci %>
                <% else %>
                  <%= text_field_tag "ValorCI_t", "", :size => 40, :maxlenght => 40, :class => 'form-control input-sm snum', :placeholder => t('views.alertc_index.placeh_value_ci'), :style => "display: none;", :id => "valor_ci_t", :autocomplete => "off" %>
                <% end %>

              </div>

              <div class="col-md-3 m-b-15">


                <% if @layout %>

                  <select name="CAMPOSLAY" class="form-control input-sm" id="layout">
                    <option value="" selected="selected">
                      <b><%= t('views.alertc_index.placeh_layout') %></b>
                    </option>
                    <% @campos.each do |campos| %>
                      <option value="<%= campos.Alias %>"> <%= campos.IdCampo %> <%= campos.Alias %> </option>
                    <% end %>
                  </select>

                  <script>
                      $(function () {
                          $('#layout option[value="<%= @layout.to_s %>"]').prop("selected", true)
                          $('#layout_valor').show()
                      })

                  </script>
                <% else %>
                <!-- Aquí esta Layout -->
                  <select name="CAMPOSLAY" class="form-control input-sm" style="display: none;" id="layout">
                    <option value="" selected="selected">
                      <b><%= t('views.alertc_index.placeh_layout') %></b>
                    </option>
                    <% @campos.each do |campos| %>
                      <option value="<%= campos.Alias %>"> <%= campos.IdCampo %> <%= campos.Alias %> </option>
                    <% end %>
                  </select>
                <% end %>

                <% if @valor_layout %>
                    <!-- Lay con Value -->
                  <%= text_field_tag "ValorLAY", "", :size => 40, :maxlenght => 40, :class => 'form-control input-sm sltrnum', :placeholder => t('views.alertc_index.placeh_value_layout'), :id => "layout_valor", :autocomplete => "off", :disabled => "true", :value => @valor_layout %>
                <% else %>
                    <!-- Lay sin Value -->
                  <%= text_field_tag "ValorLAY", "", :size => 40, :maxlenght => 40, :class => 'form-control input-sm sltrnum', :placeholder => t('views.alertc_index.placeh_value_layout'), :style => "display: none;", :id => "layout_valor", :disabled => "true", :autocomplete => "off" %>
                <% end %>
              </div>


            </div>
            <br>
            <div class="row">


              <div class="col-md-3 m-b-15">
                <% if @estado %>

                  <select name="ESTADOSALERTA" class='form-control input-sm' id="states">
                    <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_state') %></b>
                    </option>
                    <% @estados.each do |estados| %>
                      <option value=<%= estados.IdEstado %>> <%= estados.IdEstado %> <%= estados.Descripcion %> </option>
                    <% end %>
                  </select>

                  <script>
                      $(function () {
                          $('#states option[value="<%= @estado.to_s %>"]').prop("selected", true)
                      })

                  </script>
                <% else %>
                  <select name="ESTADOSALERTA" class='form-control input-sm' style="display: none;" id="states">
                    <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_state') %></b>
                    </option>
                    <% @estados.each do |estados| %>
                      <option value=<%= estados.IdEstado %>> <%= estados.IdEstado %> <%= estados.Descripcion %> </option>
                    <% end %>
                  </select>
                <% end %>


              </div>


              <div class="col-md-3 m-b-15">
                <% if @user %>

                  <select name="USUARIOS" class='form-control input-sm' id="users">
                    <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_user') %></b>
                    </option>
                    <!--<option value="1">Todos</option>-->
                    <% @usuarios.each do |usuario| %>
                      <option value=<%= usuario.id %>> <%= usuario.name %> <%= usuario.last_name %> </option>
                    <% end %>
                  </select>

                  <script>
                      $(function () {
                          $('#users option[value="<%= @user.to_s %>"]').prop("selected", true)
                      })

                  </script>
                <% else %>
                  <select name="USUARIOS" class='form-control input-sm' style="display: none;" id="users">
                    <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_user') %></b>
                    </option>
                    <!--<option value="1">Todos</option>-->
                    <% @usuarios.each do |usuario| %>
                      <option value=<%= usuario.id %>> <%= usuario.name %> <%= usuario.last_name %> </option>
                    <% end %>
                  </select>
                <% end %>


              </div>

              <div class="col-md-3 m-b-15">
                <div class="form-group">
                  <%#= label_tag "FechaIni", "Fechas", :class => "col-md-2 control-label" %>
                  <label class="col-md-4 control-label text-left" style="display: none;" id="start_label"><%= t('views.alertc_index.start_date') %></label>
                  <div class="col-md-8" id="dato_1">
                    <% if @start_date %>
                      <div class="input-group" id="start_input">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" name="FechaIni" class="form-control input-sm entrada" title="Fecha Inicial" placeholder="<%= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="start_date" value="<%= @start_date %>">
                      </div>
                      <!--Input viejo-->
                      <!--<input type="text" name="FechaIni" class="form-control input-sm" title="Fecha Inicial" placeholder="<%#= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="start_date" value="<%#= @start_date %>">-->
                    <% else %>
                      <div class="input-group" style="display: none;" id="start_input">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" name="FechaIni" class="form-control input-sm entrada" title="Fecha Inicial" placeholder="<%= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="start_date" value="">
                      </div>
                      <!--Input viejo-->
                      <!-- <input type="text" name="FechaIni" class="form-control input-sm" title="Fecha Inicial" placeholder="<%#= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="start_date">-->
                    <% end %>

                  </div>
                </div>
              </div>

              <div class="col-md-3 m-b-15">
                <div class="form-group">
                  <label class="col-md-4 control-label text-left" style="display: none;" id="end_label"><%= t('views.alertc_index.end_date') %></label>
                  <div class="col-md-8" id="dato_2">
                    <% if @end_date %>
                      <div class="input-group" id="end_input">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" name="FechaFin" class="form-control input-sm salida" title="Fecha Final" placeholder="<%= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="end_date" value="<%= @end_date %>">
                      </div>
                      <!--Input viejo-->
                      <!-- <input type="text" name="FechaFin" class='form-control input-sm' title="Fecha Final" placeholder="<%#= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="" value="<%#= @end_date %>">-->
                    <% else %>
                      <div class="input-group" style="display: none;" id="end_input">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" name="FechaFin" class="form-control input-sm salida" title="Fecha Final" placeholder="<%= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="end_date">
                      </div>
                      <!--Input viejo-->
                      <!-- <input type="text" name="FechaFin" class='form-control input-sm' title="Fecha Final" placeholder="<%#= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="end_date"> -->
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div class='row'>
              <div class="col-md-3 m-b-15" id="div1">
                <% if @leerConPer == 2 %>
                  <% if @grupos_s && @producto == "2" %>

                    <select name="GRUPOS" onchange="obtenPerfiles(this, <%= arregloperfiles_array = Tperfiles.all.map { |arregloperfiles| [arregloperfiles.IdGrupo, arregloperfiles.IdPerfil, arregloperfiles.Nombre] }%>)" class='form-control input-sm' id="groups">
                      <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_group') %></b>
                      </option>
                      <% @grupos.each do |grupos| %>
                        <option value=<%= grupos.IdGrupo %>> <%= grupos.IdGrupo %> <%= grupos.Nombre %> </option>
                      <% end %>
                    </select>

                    <script>
                        $(function () {
                            $('#groups option[value="<%= @grupos_s.to_s %>"]').prop("selected", true)
                        })

                        $("#div1").show()
                        $("#div2").show()
                        $("#div3").show()
                        $("#div4").hide()
                    </script>
                  <% else %>
                    <select name="GRUPOS" onchange="obtenPerfiles(this, <%= arregloperfiles_array = Tperfiles.all.map { |arregloperfiles| [arregloperfiles.IdGrupo, arregloperfiles.IdPerfil, arregloperfiles.Nombre] }%>)" class='form-control input-sm' style="display: none;" id="groups">
                      <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_group') %></b>
                      </option>
                      <% @grupos.each do |grupos| %>
                        <option value=<%= grupos.IdGrupo %>> <%= grupos.IdGrupo %> <%= grupos.Nombre %> </option>
                      <% end %>
                    </select>
                  <% end %>
                <% end %>

              </div>

              <div class="col-md-3 m-b-15" id="div2">
                <% if @leerConPer == 2 %>
                  <% if @perfil && @producto == "2" %>

                    <select name="PERFILES" id="ComboPerfiles" class='form-control input-sm' id="profiles" disabled="true">
                      <option value="" selected="selected">
                        <b>--<%= t('views.alertc_index.placeh_profile') %>--</b>
                      </option>
                    </select>

                    <script>
                        $(function () {
                            $('#profiles option[value="<%= @perfil.to_s %>"]').prop("selected", true)
                        })

                        $("#div1").show()
                        $("#div2").show()
                        $("#div3").show()
                        $("#div4").hide()
                    </script>
                  <% else %>
                    <select name="PERFILES" id="ComboPerfiles" class='form-control input-sm' style="display: none;" id="profiles" disabled="true">
                      <option value="" selected="selected">
                        <b><%= t('views.alertc_index.placeh_profile') %></b>
                      </option>
                    </select>
                  <% end %>
                <% end %>

              </div>

              <div class="col-md-3 m-b-15" id="div4">
                <% if @leerConTran == 2 %>
                  <% if @filters && @producto == "1" %>

                    <select name="FILTROS" class='form-control input-sm' id="filtros">
                      <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_filter') %></b>
                      </option>
                      <!--<option value="1">Todos</option>-->
                      <% @filtros.each do |filter| %>
                        <option value=<%= filter.Id %>> <%= filter.Description %></option>
                      <% end %>
                    </select>

                    <script>
                        $(function () {
                            $('#filtros option[value="<%= @filters.to_s %>"]').prop("selected", true)

                            $("#div1").hide()
                            $("#div2").hide()
                            $("#div3").show()
                            $("#div4").show()
                        })

                    </script>
                  <% else %>
                    <select name="FILTROS" class='form-control input-sm' style="display: none;" id="filtros">
                      <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_filter') %></b>
                      </option>
                      <!--<option value="1">Todos</option>-->
                      <% @filtros.each do |filter| %>
                        <option value=<%= filter.Id %>> <%= filter.Description %></option>
                      <% end %>
                    </select>
                  <% end %>
                <% end %>


              </div>

              <div class="col-md-3 m-b-15" id="div3">
                <% if @tipo %>

                  <select name="TIPOALERTA" , class="form-control input-sm m-b-10" id="type">
                    <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_type') %></b>
                    </option>
                    <option value="0"><%= t('views.alertc_index.nomal') %></option>
                    <option value="1"><%= t('views.alertc_index.canceled') %></option>
                  </select>

                  <script>
                     $(function () {
                         $('#type option[value="<%= @tipo.to_s %>"]').prop("selected", true)
                     })
                  </script>
                <% else %>
                  <select name="TIPOALERTA" , class="form-control input-sm m-b-10" style="display: none;" id="type">
                    <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_type') %></b>
                    </option>
                    <option value="0"><%= t('views.alertc_index.nomal') %></option>
                    <option value="1"><%= t('views.alertc_index.canceled') %></option>
                  </select>
                <% end %>

              </div>


              <div class="col-md-3 m-b-15">
                <%= hidden_field_tag :IdUsuario, @IdUsuario %>

                <% if @producto == "1" || @producto == "2" %>
                  <h2><%#= submit_tag t('views.alertc_index.search'), class: 'btn btn-info', :style => "display: none;", :id => "search" %>
                    <button class="btn btn-primary" type="submit" id="search">
                      <i class="fa fa-search"></i>
                      <%= t('views.alertc_index.search') %>
                    </button>

                    <!--<%#= button_tag(type: 'submit', class: 'btn btn-info', :id => "search") do %>-->
                    <!--<i class="fa fa-search"></i>-->
                    <!--<%#= t('views.alertc_index.search') %>-->
                    <!--<%# end %>-->
                  </h2>
                <% else %>
                  <h2><%#= submit_tag t('views.alertc_index.search'), class: 'btn btn-info', :style => "display: none;", :id => "search" %>
                    <button class="btn btn-primary" type="submit" style="display: none" id="search" disabled>
                      <i class="fa fa-search"></i>
                      <%= t('views.alertc_index.search') %>
                    </button>

                    <!--<%#= button_tag(type: 'submit', class: 'btn btn-info', :style => "display: none;", :id => "search") do %>-->
                    <!--<i class="fa fa-search"></i>-->
                    <!--<%#= t('views.alertc_index.search') %>-->
                    <!--<%# end %>-->
                  </h2>
                <% end %>

              </div>
            </div>

          </section>
        <% end %>

        <br>
        <div class="row">
          <div class="col-sm-7">
            <% if @producto.present? && (@crearConPer == 8 || @crearConTran == 8) %>
              <% if @producto == "1" && @crearConTran == 8 %>
                <% if @error != true %>
                  <button class="btn btn-primary btn-xs xls_g" type="button">
                    <i class="fa fa-floppy-o"></i> XLS
                  </button>
                  <input type="hidden" id="idioma" name="idioma" value="<%= params[:locale] %>">
                <% end %>
              <% end %>
              <% if @producto == "2" && @crearConPer == 8 %>
                <% if  @error != true %>
                  <button class="btn btn-primary btn-xs xls_g" type="button">
                    <i class="fa fa-floppy-o"></i> XLS
                  </button>
                  <input type="hidden" id="idioma" name="idioma" value="<%= params[:locale] %>">
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="detall_left">
                <%= page_entries_info @alertas, entry_name: t('activerecord.all.alert') %>
              </div>
              <div class="pag_right">
                <%= paginate @alertas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="alertas">
          <div class="col-xs-12">
            <table class="table table-bordered table-condensed table-striped" id="tablafi1" tabindex="5005">
              <thead>
              <tr>
                <th width="15"></th>
                <th>Ticket</th>
                <th><%= t('views.alertc_index.date') %></th>
                <th><%= t('views.alertc_index.origin') %></th>
                <th><%= t('views.alertc_index.account') %></th>
                <th><%= t('views.alertc_index.message') %></th>
                <th><%= t('views.alertc_index.state') %></th>
                <th><%= t('views.alertc_index.analyst') %></th>
                <th><%= t('views.alertc_index.action') %></th>
              </tr>
              </thead>
              <% if @alertas.present? %>
                <tbody id="alertas">
                <% @alertas.each do |al| %>
                  <tr class="show_more">
                    <td class="show"><i class="fa fa-plus-square" aria-hidden="true"></i></td>
                    <td class="id_tran"><%= al.Id %></td>
                    <td><%= al.Fecha %>
                      <bl></bl><%= al.Hora %></td>
                    <td>
                      <% if al.IdProducto == 1 %>
                        <%= "Transaccional" %>
                      <% else %>
                        <%= "Perfiles" %>
                      <% end %>
                    </td>
                    <td><%= al.IdTran %> </td>
                    <td style="max-width: 30em"><%= al.Mensaje %></td>
                    <td><%= al.IdEstado %>-<%= al.testadosxalerta.Descripcion %></td>
                    <td>
                      <% if al.user.present? %>
                        <%= al.user.name %> <%= al.user.last_name %>
                      <% else %>
                        <%= al.IdUsuario %>
                      <% end %>
                    </td>
                    <% if al.IdProducto == 1 %>
                      <td><%= link_to t('all.follow'), alertn_alertTran_path(:id => al.Id), class: 'btn btn-primary btn-sm m-r-5', :data => {:no_turbolink => true} %></td>
                    <% else %>
                      <td><%= link_to t('all.follow'), alertn_alertPer_path(:id => al.Id), class: 'btn btn-primary btn-sm m-r-5', :data => {:no_turbolink => true} %></td>
                    <% end %>

                  </tr>
                  <tr id="detail<%= al.Id %>" style="display: none; background-color: #A5C9E6" class="cerrado">
                    <td colspan="9">
                      <% if al.IdProducto == 1 %>
                        <label><%= t('views.alertc_index.filter') %>: </label>
                        <% if al.tx_filters.present? %>
                          <%= al.tx_filters.Id %>-<%= al.tx_filters.Description %>
                        <% else %>
                          N/A
                        <% end %>
                      <% else %>
                        <label><%= t('views.alertc_index.group') %>: </label>
                        <% if al.tgrupos.present? %>
                          <%= al.IdGrupo %>-<%= al.tgrupos.Nombre %>
                        <% else %>
                          N/A
                        <% end %>
                        <br>
                        <label><%= t('views.alertc_index.profile') %>: </label>
                        <% @perfil = Tperfiles.where(:IdPerfil => al.IdPerfil).where(:IdGrupo => al.IdGrupo) %>
                        <% if @perfil.present? %>
                          <% @perfil.each do |per| %>
                            <%= per.IdPerfil %>-<%= per.Nombre %>
                          <% end %>
                        <% else %>
                          N/A
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              <% end %>
            </table>
          </div>
          <div class="row" id="paginator">
            <div class="col-sm-7"></div>
            <div class="col-sm-5 text-right">
              <div style="margin-bottom: 2em;">
                <div class="pag_right">
                  <%= paginate @alertas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
                </div>
                <div class="detall_left">
                  <%= page_entries_info @alertas, entry_name: t('activerecord.all.alert') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    <% if @crearConPer == 8 || @crearConTran == 8 %>
    $(".xls_g").click(function () {
        var idioma = $("#idioma").val()

        var params = '&product=<%= @producto %>&ticket=<%= @ticket %>&message=<%= @message %>&ValorCI_t<%= @valor_ci %>=&CAMPOSLAY=<%= @layout %>&ValorLAY=<%= @valor_layout %>&ESTADOSALERTA=<%= @estado %>&USUARIOS=<%= @user %>&FechaIni=<%= @start_date %>&FechaFin=<%= @end_date %>&GRUPOS=<%= @grupos_s %>&PERFILES=<%= @perfil %>&FILTROS=<%= @filters %>&TIPOALERTA=<%= @tipo %>'

        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: "/alertc/?xls_g=true" + "&user_id=<%= current_user.id %>" + "&idioma=" + idioma + params,
            data: {"_method": "index"},
        })

        toastr.options = {
            closeButton: true,
            progressBar: true,
            showMethod: 'slideDown',
            timeOut: 5000
        };
        toastr.success("<%= t('views.xls_a.message') %>", "<%= t('views.xls_a.message2') %>");
    })
    <%end %>

    $(".show_more").click(function () {
        var id = $(this).children(".id_tran").text()
        var tiene = $("#detail" + id).hasClass("cerrado")

        if (tiene) {
            $("#detail" + id).show()
            $("#detail" + id).removeClass("cerrado")
            $("#detail" + id).addClass("abierto")
            $(this).children(".show").html("")
            $(this).children(".show").append('<i class="fa fa-minus-square" aria-hidden="true"></i>')
//
        } else {
            $("#detail" + id).hide()
            $("#detail" + id).removeClass("abierto")
            $("#detail" + id).addClass("cerrado")
            $(this).children(".show").html("")
            $(this).children(".show").append('<i class="fa fa-plus-square" aria-hidden="true"></i>')
//
        }
    })

  /* Validación de Input's */

    // Input Message
    $('#message').on('input', function(){
      valor = $(this).val();
      patron = /^[a-zA-ZñÑáéíóúÁÉÍÓÚ0-9:,/]*$/
      remp = /[^ a-zA-ZñÑáéíóúÁÉÍÓÚ0-9:,/]+/ig

      if (!patron.test(valor)) {
          this.value = valor.replace(remp, "");
      }
    });

    // Input ticket & Account
    $('#ticket, #valor_ci_t').on('input', function(){
      valor = $(this).val();
      patron = /^[ 0-9 ]*$/
      remp = /[^ 0-9]+/ig

      if (!patron.test(valor)) {
         this.value = valor.replace(remp, "")
      }
    });

    // Input Field Layout
    $('#layout_valor').on('input', function(){
        valor = $(this).val();
        patron = /^[a-zA-ZñÑáéíóúÁÉÍÓÚ0-9:,/-]*$/
        remp = /[^ a-zA-ZñÑáéíóúÁÉÍÓÚ0-9:,/-]+/ig

        if (!patron.test(valor)) {
            this.value = valor.replace(remp, "")
        }
    });

    // Input Fechas
    $('#start_date, #end_date').on('input', function () {
        valor = $(this).val()
        patron = /^[0-9/]*$/
        remp = /[^ 0-9/]+/ig

        if(!patron.test(valor)){
            this.value = valor.replace(remp, "")
        }
    });

  /* Termina validación de Input's */

    $(document).ready(function(){
        $("input[name=FechaIni]").change(function(){
            $('input[name=FechaFin]').val($('').val());
        });
    });

//    $(document).ready(function () {
//        $("input[type=text]").on("keyup", function () {
//            option = false;
//            $("input[type=text]").each(function () {
//                if (!this.value) {
//                    option = true;
//                }
//            });
//            $("button[type=submit]").attr("disabled", option);
//        });
//    });

    var getDate = function (input) {
        return new Date(input.date.valueOf());
    }

    $('.entrada, .salida').datepicker({
        format: "mm/dd/yyyy",
        language: 'es'
    });

    $('.salida').datepicker({
        startDate: '+6d',
        endDate: '+36d',
    });

    $('.entrada').datepicker({
        startDate: '+5d',
        endDate: '+35d',
    }).on('changeDate',
        function (selected) {
            $('.salida').datepicker('clearDates');
            $('.salida').datepicker('setStartDate', getDate(selected));
        });


    //---- Input para calendario
    $('#dato_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
    $('#dato_2 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
    //---- Fin Input para calendario

    $("#product").change(function () {
        var valor = $(this).val()

        if (valor == "") {
            $("#ticket").hide()
            $("#message").hide()
            $("#valor_ci_t").hide()
            $("#layout").hide()
            $("#layout_valor").hide()
            $("#states").hide()
            $("#users").hide()
            $("#start_label").hide()
            $("#start_input").hide()
            $("#end_label").hide()
            $("#end_input").hide()
            $("#groups").hide()
            $("#ComboPerfiles").hide()
            $("#type").hide()
            $("#filtros").hide()
            $("#search").hide()
            //$("#search").attr("disabled", true)

            $("#ticket").val("")
            $("#message").val("")
            $("#valor_ci_t").val("")
            $("#layout").val("")
            $("#layout_valor").val("")
            $("#states").val("")
            $("#users").val("")
            $("#start_input").val("")
            $("#end_input").val("")
            $("#groups").val("")
            $("#ComboPerfiles").val("")
            $("#type").val("")
            $("#filtros").val("")
        }

        if (valor == "1") {
            $("#ticket").show()
            $("#message").show()
            $("#valor_ci_t").show()
            $("#layout").show()
            $("#layout_valor").show()
            $("#states").show()
            $("#users").show()
            $("#start_label").show()
            $("#start_input").show()
            $("#end_label").show()
            $("#end_input").show()
            $("#div1").hide()
            $("#div2").hide()
            $("#div3").show()
            $("#div4").show()
            $("#groups").hide()
            $("#ComboPerfiles").hide()
            $("#type").show()
            $("#filtros").show()
            $("#search").show()
            //$("#search").attr("disabled", true)

            $("#ticket").val("")
            $("#message").val("")
            $("#valor_ci_t").val("")
            $("#layout").val("")
            $("#layout_valor").val("")
            $("#states").val("")
            $("#users").val("")
            $("#start_input").val("")
            $("#end_input").val("")
            $("#groups").val("")
            $("#ComboPerfiles").val("")
            $("#type").val("")
            $("#filtros").val("")
        }

        if (valor == "2") {
            $("#ticket").show()
            $("#message").show()
            $("#valor_ci_t").show()
            $("#layout").show()
            $("#layout_valor").show()
            $("#states").show()
            $("#users").show()
            $("#start_label").show()
            $("#start_input").show()
            $("#end_label").show()
            $("#end_input").show()
            $("#div1").show()
            $("#div2").show()
            $("#div3").show()
            $("#div4").hide()
            $("#groups").show()
            $("#ComboPerfiles").show()
            $("#type").show()
            $("#filtros").hide()
            $("#search").show()
            //$("#search").attr("disabled", true)

            $("#ticket").val("")
            $("#message").val("")
            $("#valor_ci_t").val("")
            $("#layout").val("")
            $("#layout_valor").val("")
            $("#states").val("")
            $("#users").val("")
            $("#start_input").val("")
            $("#end_input").val("")
            $("#groups").val("")
            $("#ComboPerfiles").val("")
            $("#type").val("")
            $("#filtros").val("")
        }
    })

    //---- Validaciones Input para permitir busqueda
    $('#ticket, #message, #valor_ci_t, #layout_valor, #start_date, #end_date').keyup('change',function(){
        var ticket = $("#ticket").val()
        var message = $('#message').val()
        var valor_ci_t = $("#valor_ci_t").val()
        var layout_valor = $("#layout_valor").val()
        var states = $('#states').val()
        var users =  $('#users').val()
        var start_input = $('#start_date').val()
        var end_input = $('#end_date').val()
        var groups = $('#groups').val()
        var comboPerfiles = $('#ComboPerfiles').val()
        var type = $('#type').val()
        var filtros = $('#filtros').val()

        if ( ticket == "" && message == "" && valor_ci_t == "" && layout_valor == "" && states == "" && users == "" && ( start_input == "" || end_input == "" )  && groups == "" && comboPerfiles == "" && filtros == "" && type == ""  ){
            $('#search').attr('disabled', true)
        } else {
            $('#search').attr('disabled', false)
        }
    });

//    $("#campo_ci").change(function () {
//        var ticket = $("#ticket").val()
//        ticket = ticket.trim()
//        var message = $("#message").val()
//        message = message.trim()
//        var campo_ci = $(this).val()
//        campo_ci = campo_ci.trim()
//        var valor_ci = $("#valor_ci").val()
//        valor_ci = valor_ci.trim()
//        var valor_ci_t = $("#valor_ci_t").val()
//        valor_ci_t = valor_ci_t.trim()
//        var layout = $("#layout").val()
//        layout = layout.trim()
//        var layout_valor = $("#layout_valor").val()
//        layout_valor = layout_valor.trim()
//        var states = $("#states").val()
//        states = states.trim()
//        var users = $("#users").val()
//        users = users.trim()
//        var start_input = $("#start_date").val()
//        start_input = start_input.trim()
//        var end_input = $("#end_date").val()
//        end_input = end_input.trim()
//        var groups = $("#groups").val()
//        groups = groups.trim()
//        var comboPerfiles = $("#ComboPerfiles").val()
//        comboPerfiles = comboPerfiles.trim()
//        var type = $("#type").val()
//        type = type.trim()
//        var filtros = $("#filtros").val()
//        filtros = filtros.trim()
//
//        if (campo_ci != "") {
//            $("#valor_ci").attr("disabled", false)
//            $("#valor_ci").attr("required", true)
//        } else {
//            $("#valor_ci").attr("disabled", true)
//            $("#valor_ci").attr("required", true)
//            $("#valor_ci").val("")
//            valor_ci = ""
//        }
//
//        if (ticket != "" || message != "" || valor_ci_t != "" || layout != "" || layout_valor != "" || states != "" || users != "" || start_input != "" || end_input != "" || groups != "" || comboPerfiles != "" || type != "" || filtros != "") {
//            $("#search").attr("disabled", false)
//        } else {
//            $("#search").attr("disabled", true)
//        }
//    })

//    $("#valor_ci").change(function () {
//        var ticket = $("#ticket").val()
//        ticket = ticket.trim()
//        var message = $("#message").val()
//        message = message.trim()
//        var valor_ci_t = $("#valor_ci_t").val()
//        valor_ci_t = valor_ci_t.trim()
//        var layout = $("#layout").val()
//        layout = layout.trim()
//        var layout_valor = $("#layout_valor").val()
//        layout_valor = layout_valor.trim()
//        var states = $("#states").val()
//        states = states.trim()
//        var users = $("#users").val()
//        users = users.trim()
//        var start_input = $("#start_date").val()
//        start_input = start_input.trim()
//        var end_input = $("#end_date").val()
//        end_input = end_input.trim()
//        var groups = $("#groups").val()
//        groups = groups.trim()
//        var comboPerfiles = $("#ComboPerfiles").val()
//        comboPerfiles = comboPerfiles.trim()
//        var type = $("#type").val()
//        type = type.trim()
//        var filtros = $("#filtros").val()
//        filtros = filtros.trim()
//
//        if (ticket != "" || message != "" || valor_ci_t != "" || layout != "" || layout_valor != "" || states != "" || users != "" || start_input != "" || end_input != "" || groups != "" || comboPerfiles != "" || type != "" || filtros != "") {
//            $("#search").attr("disabled", false)
//        } else {
//            $("#search").attr("disabled", true)
//        }
//    })

    //---- Habilitar campo layout_valor
    $("#layout").change(function () {
        var layout = $(this).val()

        if ( layout == "" ) {
            $("#layout_valor").attr("disabled", true)
            $("#layout_valor").attr("required", false)
            $("#layout_valor").val("")
            layout_valor = ""
        } else {
            $("#layout_valor").attr("disabled", false)
            $("#layout_valor").attr("required", true)
        }
    })

    //---- Validaciones Select para permitir busqueda
    $("#states, #users, #start_date, #end_date, #groups, #type, #filtros").change(function () {
        var ticket = $("#ticket").val()
        var message = $("#message").val()
        var valor_ci_t = $("#valor_ci_t").val()
        var layout_valor = $("#layout_valor").val()
        var states = $('#states').val()
        var users = $("#users").val()
        var start_input = $('#start_date').val()
        var end_input = $('#end_date').val()
        var groups = $("#groups").val()
        var start_input = $("#start_date").val()
        var comboPerfiles = $("#ComboPerfiles").val()
        var type = $("#type").val()
        var filtros = $("#filtros").val()

        //---- LLena select Profile
        if (groups != "") {
            $("#ComboPerfiles option").remove();
            $("#ComboPerfiles").attr("disabled", false);

            $("#ComboPerfiles").append($("<option value></option>").text("--<%= t('views.alertc_index.placeh_profile') %>--"));
            for (i = 0; i < gon.perfiles.length; i++) {
                if (gon.perfiles[i].IdGrupo == groups) {
                    $("#ComboPerfiles").append($("<option></option>")
                        .attr("value", gon.perfiles[i].IdPerfil)
                        .text(gon.perfiles[i].Nombre));
                }
            }
        } else {
            $("#ComboPerfiles option").remove();
            $("#ComboPerfiles").attr("disabled", true);
            $("#ComboPerfiles").append($("<option value></option>").text("--<%= t('views.alertc_index.placeh_profile') %>--"));
        }

        if (ticket == "" && message == "" && valor_ci_t == "" && layout_valor == "" && states == "" && users == "" && groups == "" && ( start_input == "" || end_input == "" ) && comboPerfiles == "" && type == "" && filtros == "" ) {
            $("#search").attr("disabled", true)
        } else {
            $("#search").attr("disabled", false)
        }
    })

    var tablaParametros = {
        on_keyup: true
    };
    var tf01 = setFilterGrid("tablafi1", tablaParametros);

    $("#form_busqueda").submit(function () {

        $('#layout_valor').attr("disabled", false)

        var start_input = $("#start_date").val()
        start_input = start_input.trim()

        var end_input = $("#end_date").val()
        end_input = end_input.trim()

        if (start_input != "") {
            start_input = start_input.split("/");
            start_input = start_input[2] + '-' + start_input[0] + '-' + start_input[1]
            $("#start_date").val(start_input)
        }
        if (end_input != "") {
            end_input = end_input.split("/");
            end_input = end_input[2] + '-' + end_input[0] + '-' + end_input[1]
            $("#end_date").val(end_input)
        }

    })
</script>
<style>
  .toast-success {
    background-color: #003057;
  }

  #toast-container > .toast-success:before {
    content: none;
  }
</style>